[2017-10-24 16:13] androlo opened #1 "Support of stateMutability keywords (pure, view, etc.)"
Version `1.1.6`, (according to package.json file, but `solhint --version` says `1.1.5`)

Using `pure` or other state mutability keywords is currently not supported by the linter, but it is supported by the compiler.

Using `pure` will result in a line like the following:

`line 15:55 extraneous input 'pure' expecting {';', '{', 'returns'}`

Eventually, the line numbers in errors/warnings and other

[2017-10-25 08:44] idrabenia commented on #1
Hi @androlo !

Thank you for your feedback!

Fix will be available in next version of Solhint (end of this - next week).

\- Ilya

[2017-10-25 08:49] idrabenia opened #2 "Do not create configuration file when it already exists in current folder"

[2017-10-25 08:50] idrabenia opened #3 "Correct formatting of auto-created configuration file"

[2017-10-25 08:51] idrabenia opened #4 "Change severity of compiler fixed issue to warn"

[2017-10-25 09:05] #2 closed

[2017-10-25 09:05] #3 closed

[2017-10-25 09:11] #4 closed

[2017-10-25 10:45] #1 closed

[2017-10-26 22:47] sohkai opened #5 "Becoming ESLint-like"
Just to get the discussion rolling, I was wondering if it might make sense to conform to some of ESLint's CLI and options given how this project uses a lot of the great ideas that have come out of ESLint.

Some ideas (that may be better as separate issues if agreed upon):

* [ ] Change `init-config` to `--init`
* [ ] Add `--quiet` to only report errors
* [ ] Add support for a `.ignores`-type file

[2017-10-27 00:03] sohkai opened #6 "Use solidity-parser-antlr?"
Not sure if there was a licensing issue ([solidity-parser-antlr](https://github.com/federicobond/solidity-parser-antlr) is GPL, which would force this project to be GPL?) or something, but a quick look over a diff of the antlr grammars in this package and `solidity-parser-antlr` make it seem like the differences are trivial, and hence unnecessary to maintain two copies.

The only non-trivial diffe

[2017-10-31 13:40] androlo opened #9 "The `byte` keyword is not recognized as a keyword in inline assembly."
`0.1.7`

The `byte` keyword is not recognized as a keyword in inline assembly.

[code]

`line 102:17 mismatched input 'byte' expecting {'return', 'address', DecimalNumber, HexNumber, HexLiteral, Identifier, 'byte', StringLiteral}`

Additionally, I know this was the problem because when commenting the asm section out, the linting worked (in fact i got a warning that 'addr' was never used).

[2017-11-02 10:06] idrabenia commented on #9
Hi @androlo !

Thank you for contribution!

I think fix will be available in next release. It will be on start of next week.

\- Ilya

[2017-11-02 13:44] idrabenia commented on #6
Hi @sohkai ,

Take control over grammar has some advantages. We can create additional nodes and Solhint do not breaks after new release of library.

Then I think it make sense to store Solhint grammar there.

Thanks!
\- Ilya

[2017-11-02 18:31] androlo commented on #9
This is a very impressive library. Protofire seems to be a very good company with good developers.

The contract suite I am analyzing with this linter will maybe become the standard library for the Solidity language - it is built together with the Solidity developers (https://github.com/ethereum/solidity-examples).

If this happens, I will be sure to name this tool and say how great it is, and the

[2017-11-02 19:00] elenat commented on #9
Thank you @androlo! It’s really important for us  to get a community feedback and constantly improve our linter. BTW are you attending the devcon3? If yes, we can meet between the sessions. My telegram is @lenatr

[2017-11-03 01:52] androlo commented on #9
@elenat no i am not at devcon.

[2017-11-03 08:45] idrabenia opened #10 "Add placeholder statement to Solhint grammar"

[2017-11-03 16:02] #10 closed

[2017-11-05 09:45] idrabenia commented on #9
Hi @androlo !

I happy to hear from you this awesome feedback!

I am glad that our library is helpful for solidity-examples!

Thank you for your contribution! And good luck with solidity-examples! It would be awesome if your project will became standard library for solidity!

\- Ilya

[2017-11-07 10:11] #6 closed

[2017-11-09 09:41] #9 closed

[2017-11-09 09:43] sohkai commented on #6
Sorry for the late response @idrabenia.

Just wanted to clarify a few things that might sway you over, but I understand if you / Protofire want to keep control over the parsing.

Are there specific, specialized nodes that Solhint might use (e.g. for internal parsing / clarification) that would not be useful for the general community? If not, then any new nodes would probably be an improvement over

[2017-11-16 15:13] maurelian opened #11 "single word constant variables trigger snake case error"
[code]

Each of the constant declarations has the `constant name must be in SNAKE_CASE` error.

Capitalizing the names removes the error. But [snake case](https://en.wikipedia.org/wiki/Snake_case) doesn't say anything about being capitalized.

Also, I don't see anything about it in the style guide: https://solidity.readthedocs.io/en/develop/style-guide.html

[2017-11-17 17:06] idrabenia commented on #11
Hi @maurelian ,

Thanks for your feedback!

There is from [Style Guide](http://solidity.readthedocs.io/en/develop/style-guide.html#constants)
[code]

I corrected the message. But if applying of this rule is not suitable for you - you may disable it in config file using

[code]
It's you own choice.

Thanks!
\- Ilya

[2017-11-21 22:39] maurelian commented on #11
Ahh, thank you for pointing that out. I had just done a search for the word `snake_case` in the style guide and came up with nothing.

[2017-11-21 22:39] #11 closed

[2017-11-27 22:43] davesag opened #12 "no-simple-event-func-name rule is not case sensitive"
I am not sure if this is a bug or a feature but the `no-simple-event-func-name` rule does not see a difference between a function called `claimSatisfied` and an event `ClaimSatisfied`.

Is that rule supposed to be case insensitive?

[2017-11-27 22:53] davesag opened #13 "func-order confused by modifiers and constructors."
Running `solhint` over this contract

    pragma solidity ^0.4.18;

    contract TestThing {

        modifier validSender() {
            require(msg.sender != 0x0);
            _;
        }

        function statusIsOkay() external view returns(bool) {
            return true;
        }

        function TestThing() public validSender() {
            // does something
        }
    }

gives erro

[2017-11-28 09:25] idrabenia commented on #13
Hi @davesag ,

Thank you for this feedback!

We are fixed this issue and it will be available in next release (at the end of this week).

\- Ilya

[2017-11-28 10:03] idrabenia commented on #12
Hi @davesag ,

Yes, there is a feature that related to [this](https://github.com/ConsenSys/smart-contract-best-practices/blob/master/docs/recommendations.md#differentiate-functions-and-events) recommendations of ConsenSys Guide for Smart Contracts.

We understand that it may react on some standard contracts like ECR20 and made it the warning severity.

If execution of this rule is not helpful for

[2017-11-30 15:01] PureIso opened #14 "Solhint is not installed exception"
**Exception**
I am getting the following exception if anyone can help me out.
"Solhint is not installed: For correct run of Solidity Solhint Plugin you need to install Solhint."

**Installed**
I have the latest NodeJs installed.
I also have Solidity and Solhint (1.1.8) installed via Browse Repository

**OS**
Operating System: Windows 10 x64
IDE: IntelliJ

In addition, how do you get started once y

[2017-11-30 17:26] idrabenia commented on #14
Hi Ola,

You need to go to Settings > Plugins

And install plugin intellij-solidity.

After that you need to restart idea.

Thank you!

If you will any troubles please notify us!

Thanks!

[2017-12-01 09:32] idrabenia opened #15 "Add vim plugin to documentation"

[2017-12-01 09:33] #15 closed

[2017-12-01 09:43] #13 closed

[2017-12-01 16:29] sohkai commented on #15
@idrabenia Ah, there's actually a few more syntax checkers for vim that I haven't pushed a PR for. I'll add them soon and add them to the README :).

[2017-12-01 21:02] fvictorio opened #16 "Add gcc format"
I tried to integrate solhint with [Ale](https://github.com/w0rp/ale) (a lint engine for vim that takes advantage of vim 8 async features), but I wasn't able to do it because none of the formatters is supported by Ale, at least right now. There is support for the `unix` format, but it can't tell warnings from errors.

Adding a `gcc` formatter to solhint seems to me like the easiest way to do it.

[2017-12-01 22:59] #12 closed

[2017-12-02 13:22] idrabenia commented on #5
Hi @sohkai,

Thank you for this feedback!

From my opinion first three points is interesting. But business value of its is not so much - how it required implementation. I think maybe we schedule its implementation in future.

Point #4 and #6 is awesome tasks for next release!

Point #5 is interesting I think make sense to schedule it in future.

Last point from my opinion may increase complexity o

[2017-12-02 13:34] idrabenia commented on #15
Thank you @sohkai for implementation of Solhint extension!

You are welcome to any contributions!

\- Ilya

[2017-12-04 08:45] PureIso commented on #14
Hi,
Thank you for the very fast reply.  Please find attached images below which further explains the issue.
![image0](https://user-images.githubusercontent.com/3818856/33543372-b2149054-d8ce-11e7-9a7a-7f83d31fc134.PNG)
I have Solidity and Solhint installed.

![image1](https://user-images.githubusercontent.com/3818856/33543314-73c9399e-d8ce-11e7-85af-12fc2eccc118.PNG)
Solhint error, in which Intell

[2017-12-04 17:19] idrabenia commented on #14
Hi @PureIso,

On second image there are button "Install Solhint". Can you press it.

Does it works correct after that, or throw any errors?

Thanks!
\- Ilya

[2017-12-04 18:14] PureIso commented on #14
@idrabenia I did multiple times, at first it shows installing, please see image attached below and then it revert back to the "Solhint  package not found for the specific nodejs installtion".

![image4](https://user-images.githubusercontent.com/3818856/33568474-76bddd8a-d91e-11e7-9ffc-7620c2b3e764.PNG)

In addition,  I tried multiple versions of nodejs and no luck.  I will trying it on ubuntu next

[2017-12-04 19:04] fvictorio commented on #5
Thanks a lot for the feedback, @sohkai. Some thoughts:

These two should be straightforward, right @idrabenia?

This may be a little harder, and in my opinion using 0, 1, and 2 to mean "off", "warn", "error" is a bad practice, so I'd just add some clarification.

Do you mean to suppress the "extra" output of the program? Or to not report warnings?

I've still not dived into the code, so I don't kn

[2017-12-04 20:56] sohkai commented on #16
I took a stab at implementing a checker for ale ([commit on my fork](https://github.com/sohkai/ale/commit/b896557566e780f5666280be8f0fb2b303606c4d)) but didn't get a chance to test it out yet.

I think I just took the ESLint checker's regexes and simplified it. Does something like [this](https://github.com/sohkai/ale/commit/b896557566e780f5666280be8f0fb2b303606c4d#diff-5a80e0d622a925200734d7facfc5

[2017-12-04 21:27] fvictorio commented on #16
Hi @sohkai.

I ended up using the `compact` format (it's not documented here in solhint, but it's available since solhint just delegates the formatting to eslint formatters). You can see mi PR here: w0rp/ale#1192.

[2017-12-05 09:04] idrabenia commented on #14
@PureIso Sory for misunderstanding.

If not difficult - can you
1. Open **Menu Help > Show Log in Explorer**. Copy log and attach here.
2. If not difficult can you execute manually **"C:\Program Files\nodejs\node.exe" "C:\Prog
ram Files\nodejs\node_modules\npm\bin\npm-cli.js" install -g solhint** and attach here results - if you have any errors

Thanks you!
\- Ilya

[2017-12-05 09:28] idrabenia commented on #5
@fvictorio

"Change init-config to --init"
From my opinion  - It make sense to change **init-config** to **new-config**. Just **--init** I think is not have enough semantics to understand its' action.

"I've still not dived into the code, so I don't know how much work this would take. "
It's not much work to make this changes. But from my understanding of software development - system must be as s

[2017-12-05 11:15] PureIso commented on #14
(1)
**idea.log info:**
2017-12-05 11:04:08,065 [  53641]   WARN - a.solhint.client.SolhintClient - Can not connect to Solhint validation server
java.net.ConnectException: Connection refused: connect
	at java.net.TwoStacksPlainSocketImpl.socketConnect(Native Method)
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350)
	at java.net.AbstractPlainSocketImpl.connectToAddress

[2017-12-06 06:10] idrabenia commented on #14
If not difficult - can you execute
where solhint
where npm
where node

In your command line.

Thanks!
\- Ilya

[2017-12-06 07:40] zhangfenglin opened #18 "how to add ignore for some file"
i want to add some file into the ignore, but i don't know how to do.

[2017-12-06 20:25] sohkai commented on #16
Yeah, I think I had to do the same for syntastic and neomake :). Actually, maybe it'd be cool if it was made more explicit?

[2017-12-06 20:27] sohkai opened #19 "Add full list of formatters to docs and help text"
It'd be nice if it was made explicit somewhere that `solhint` just delegates to ESLint for formatters (and to add all the formatters to the README and CLI's help text).

@fvictorio and I have missed this before while adding vim plugins :) (e.g. https://github.com/protofire/solhint/issues/16#issuecomment-349111218).

[2017-12-07 06:51] idrabenia commented on #19
Hi @sohkai ,

There is a documentation. https://protofire.github.io/solhint/
And list of formatters available there.

[2017-12-07 11:24] fvictorio commented on #19
I think that what @sohkai is saying is that, since `solhint` just delegates the formatting to the formatters module of eslint, then that should be made explicit in the documentation. Right now it says:

[code]

But there are many more formatters supported by eslint.

[2017-12-08 12:02] dukei commented on #14
I have the same issue. All plugins are installed, pressing Install Solhint does something and then revert to showing error about Solhint is not installed again.

Here is what you asked to execute:

C:\Program Files\nodejs\node_modules>where solhint
C:\Users\k\AppData\Roaming\npm\solhint
C:\Users\k\AppData\Roaming\npm\solhint.cmd

C:\Program Files\nodejs\node_modules>where npm
C:\Program Files\node

[2017-12-15 16:07] idrabenia commented on #19
@fvictorio Detailed documentation on this site. It contains details to full list of formatter https://protofire.github.io/solhint/

[2017-12-17 06:24] davesag opened #20 "small bug with not-rely-on-time"
If you have a function like this

    function doThing(uint someTimeInDays) public {
        expiry[msg.sender] = now + timelockPeriod days;
    }

you get a warning

    warning  Avoid to make time-based decisions in your business logic  not-rely-on-time

But if you add `// solhint-disable-line not-rely-on-time`, i.e.

    function doThing(uint someTimeInDays) public {
        expiry[msg.sender]

[2017-12-17 09:08] davesag commented on #20
ah my bad.  it's actually my own error.  Only literals can use `days`

[2017-12-17 09:08] #20 closed

[2017-12-17 22:03] sohkai commented on #5
This isn't a big point, just a discrepancy I saw when comparing to ESLint. `--init` is generic, so it scales if any other configuration files (e.g. a `.ignore`) should be included in the future. But otherwise, I actually prefer `init-config` to `new-config`.

Just not report warnings. Useful sometimes, to not flood the output (e.g. when you have a lot of errors to fix).

Totally agree! Just a smal

[2017-12-21 13:51] dukei commented on #14
@idrabenia is there any progress on this?

[2017-12-22 02:50] runnerFeng commented on #14
![_ i y3 082e 3unen o a](https://user-images.githubusercontent.com/19525953/34283285-dbaf1278-e705-11e7-8605-85136743c89b.png)
![go 0zb200 a_vha7i2u hn2](https://user-images.githubusercontent.com/19525953/34283286-dbde482c-e705-11e7-8e84-b9df927cd0ee.png)

[2017-12-22 09:14] runnerFeng commented on #14
@dukei @PureIso I've solved this problem,you can try.
1.install node.js default
![a](https://user-images.githubusercontent.com/19525953/34291947-aaf025c6-e739-11e7-885f-48140ca116f6.png)
2.check this path
![2](https://user-images.githubusercontent.com/19525953/34292048-23dc953c-e73a-11e7-8f7f-59a491fc6ee3.png)
![3](https://user-images.githubusercontent.com/19525953/34292049-24102ffa-e73a-11e7-8eb2

[2017-12-22 10:07] PureIso commented on #14
@runnerFeng thank you.  I can confirm it work and issue resolved.

[2017-12-22 13:36] dukei commented on #14
@runnerFeng Thank you, it helps.
@idrabenia So the problem might be that solhint plugin does not respect npm config prefix setting.

[2017-12-25 12:42] idrabenia commented on #14
Hello guys,

Thank you for the feedback!

We are working on fix of this issue.
The fix will be available during next two weeks!

Thanks!
\- Ilya

[2017-12-26 17:44] dzentota opened #21 "Scientific notation is not supported"
`solhint ./contracts/Test.sol` for next contract

[code]

returns:

line 5:51 missing ';' at 'e9'
line 5:54 mismatched input 'ether' expecting {'from', 'constant', 'public', 'internal', 'private', Identifier}

./contracts/Test.sol
  1:17  warning  Compiler version must be fixed                 compiler-fixed
  5:52  error    Expected indentation of 4 spaces but found 51  indent
  5:52  warning  Ex

[2017-12-26 20:22] federicobond commented on #6
Hi there! I'm the maintainer of [solidity-parser-antlr](https://github.com/federicobond/solidity-parser-antlr/). Just wanted to say I really like `solhint` and I think it's a great addition to the community, but I'm pretty sure that you copied and reformatted my original grammar located at [solidityj/solidity-antlr4](https://github.com/solidityj/solidity-antlr4/blob/master/Solidity.g4), which cons

[2018-01-01 10:57] Teslima02 commented on #14
Hello guys please help me out.. The solution above is not working for me

After i perform runnerFeng step 3 solution -> "npm install -g solhint"

This is the error it return for me->
Unhandled rejection Error: EPERM: operation not permitted, mkdir 'C:\Program Files\nodejs\cache'

npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <http

[2018-01-01 11:10] dukei commented on #14
@Teslima02, you should run console under administrator for this command.

[2018-01-01 13:08] Teslima02 commented on #14
I found solution to it..... i uninstall the latest nodejs that i install and install version 7 and it works

[2018-01-01 13:09] Teslima02 commented on #14
Thanks @dukei

[2018-01-01 13:37] runnerFeng commented on #14
@Teslima02 https://www.jianshu.com/p/03a76b2e7e00

[2018-01-04 17:21] idrabenia commented on #14
Hi guys,

Thank you for your participation in project improvement!

There is new version of Solhint plugin. It contains fix of this issue.

https://plugins.jetbrains.com/plugin/10177-solidity-solhint

Thanks!
\- Ilya

[2018-01-11 12:04] szerintedmi opened #22 "func-order error always shown for external functions"
I always get `Function order is incorrect, external constant function can not go after function. (func-order)` solhint error for external functions.

(using solhint in Atom)

[code]

[2018-01-13 15:39] #14 closed

[2018-01-13 15:55] idrabenia commented on #22
Hi @szerintedmi ,

Thank you for the feedback!

You may download new version of [atom-solidity-linter](https://atom.io/packages/atom-solidity-linter).
It must not contain this issue.

Thanks!
\- Ilya

[2018-01-13 16:58] idrabenia commented on #21
Hi @dzentota ,

Thank you for the feedback!

Fix for this issue will be available in next release of solhint (during 1-2 weeks).

Best Regards
\- Ilya

[2018-01-14 14:04] szerintedmi commented on #22
works now, thank you for the quick fix! :)

[2018-01-14 14:04] #22 closed

[2018-01-14 18:06] szerintedmi opened #23 "space-after-comma error when ommiting vars in tuple assignment"
I receive space-after-comma error for:
[code]

[2018-01-16 10:21] idrabenia commented on #23
Hi @szerintedmi ,

Thank you for the feedback!

Fix for this issue will be available in the next release of solhint (during 1-2 weeks)

Best Regards,
\- Ilya

[2018-01-16 12:52] szerintedmi opened #24 "improvement: warn/err on missing and unnecessary semicolons"
common mistakes I make when copy-paste:
[code]

would be great to show warnings/errors

[2018-01-17 09:03] idrabenia opened #25 "Improve the ident validation logic"

[2018-01-20 18:10] #25 closed

[2018-01-20 18:19] idrabenia commented on #18
Hi @zhangfenglin ,

Support of ignore files is available in version v1.1.10. You need just to add in project root `.solhintignore` file and use gitignore syntax inside it.

Thank you for the feedback!
\- Ilya

[2018-01-20 18:22] #23 closed

[2018-01-20 18:22] #21 closed

[2018-01-20 18:22] #18 closed

[2018-01-20 19:10] maurelian opened #27 "Command line flag for searching specific rules"
I would like to be able to lint a set of contracts for a specific rule.

That might look like:

`solhint --rule no-empty-blocks contracts/**/*.sol`

Does this fit with the vision?

[2018-01-23 08:53] linusnorton opened #28 "Add option to force storage type to be explicit"
It would be nice if I could specify an option that enforced explicit declaration of storage type.

For example

[code]

should specify a storage type of `memory` or `storage` for the parameter `foo`.

[2018-01-23 22:29] patrickclery opened #29 "Error message appears when running files through remote-atom"
I'm getting an error message when editing files that are in certain directories:

[code]

For example, by default, remote-atom creates files in Windows 10 at AppData/Local/Temp. If I move the exact same file to these directories:

AppData/Local
AppData
OneDrive/Documents
(or my home dir)

it doesn't work. However, if I move it to $HOME/OneDrive/Documents/solidity I no longer get those error messag

[2018-02-04 03:20] weijiekoh opened #30 "Comments should not be counted in the function-max-lines rule"
May I suggest ignoring comments when counting the number of lines in a function to check whether it exceeds function-max-lines?

i.e. the following should only count as 2 lines of code:
[code]

This will prevent solhint from giving function-max-lines errors for functions which exceed 50 lines but are mainly comprised of comments. IMO, it's good practice to comment smart contract code and this shou

[2018-02-25 00:55] pubkey opened #31 "no-empty-blocks should not run on default-functions"
When a default-function is used, its common to not do anything in the function itself.

[code]

Solhint currently gives the warning `Code contains empty block  no-empty-blocks`.

[2018-03-06 21:14] Drapsag74 opened #32 "import library from node_module"
I'm trying to use `import "zeppelin-solidity/contracts/token/ERC20/MintableToken.sol";`
but solhint is giving me an error because it can't find the file. How can I indicate a folder for libraries ?
Using a fully relative path works but is quite ugly

[2018-03-22 14:52] anthonygd opened #33 "Addition of emit keyword when logging an event"
Solidity 0.4.20+ now recommends using 'emit' keyword to creating an event.  e.g.
```emit Transfer(msg.sender, _to, _tokens);```

This creates 2 issues in solhint:
* Parsing produces something like ```line 26:21 mismatched input '(' expecting {';', '='}```
* Indentation message ```26:22  error    Expected indentation of 8 spaces but found 21  indent```

[2018-03-28 10:12] willnwhite opened #34 "Installed atom-solidity-linter from Atom but it's not working"
Do I need to npm install solhint too?

[2018-03-28 10:41] #34 closed

[2018-03-28 10:42] willnwhite commented on #34
I opened this issue in the wrong repo.

[2018-03-30 12:58] ImmuneGit commented on #33
It also create a warning and error (after I updated truffle to v4.1.5 where it uses Solidity v0.4.21):
- warning: variable "Transfer" is unused [no-unused-vars]
- error: variable name must be in mixedCase [var-name-mixedcase]

[2018-04-09 13:00] simondlr commented on #33
Bumping this (if that's okay). :)

[2018-04-11 11:11] julesGoullee opened #35 "Support latest version solc"
Actually solhint doesnt support:

- event emit : `emit eventName()`
- constructor keyword in place of function name equal to contract name

[2018-04-12 11:38] mgarciap commented on #35
Thanks for the feedback. We'll work on that soon. We are looking for contributors. Interested?

[2018-04-12 15:48] mgarciap opened #36 "Add initial CONTRIBUTING.md"
Example: https://github.com/trufflesuite/truffle/blob/develop/CONTRIBUTING.md

[2018-04-25 14:37] yarrumretep commented on #35
Also, is there a specific version of antlr that you depend on?  The current version (4.5) generates different javascript than you currently have in the repo when run with `antlr4 lib/grammar/Solidity.g4 -o dork -Dlanguage=JavaScript`, so I'm thinking that it may have been updated since you ran it last.

[2018-04-25 17:12] mgarciap commented on #35
That's great @yarrumretep
Adding @fvictorio and @idrabenia to answer your question.

[2018-04-25 17:16] #36 closed

[2018-04-26 12:25] yarrumretep commented on #35
@mgarciap - i've raised a PR that addresses this.

[2018-05-04 21:09] fvictorio opened #41 "JSON formatter is not working"
Running `solhint -f json Contract.sol` throws an error:

[code]

[2018-05-12 14:42] fvictorio opened #43 "Disable rules using "off" instead of "false""
In order to make solhint more compatible with eslint, we should allow disabling rules using the value `"off"` instead of using `false`. We can make this change backward-compatible and, ideally, show a deprecated message for configurations that use `false`.

[2018-05-12 14:57] #33 closed

[2018-05-12 14:57] #35 closed

[2018-05-14 09:35] idrabenia commented on #43
Hi, It's break backward compatibitilies.

I think it make sense to concentrate on business features instead of this small improvements

[2018-05-14 12:32] fvictorio commented on #43
I meant we could have both options, so that it's backwards compatible. I think a lot of users coming from eslint are used to using `"off"` instead of `false` (I myself tried to do it).

I agree that this is low priority, but it's the kind of thing that someone looking to collaborate could use as a first issue.

[2018-05-31 02:54] iateadonut opened #45 "what does two-lines-top-level-separator mean?"
Thanks for creating this.  Very helpful.

I couldn't find this in the style guide:

two-lines-top-level-separator | Definition must be surrounded with two blank line indent

What does this mean?

[2018-06-01 10:59] iateadonut commented on #45
it just means two lines between pragma soliidty v.x.x; and contract What {

[2018-06-01 10:59] #45 closed

[2018-06-01 16:53] fvictorio commented on #45
Sorry for the late response.

You are right. [Here](http://solidity.readthedocs.io/en/v0.4.24/style-guide.html#blank-lines) is the section in the style guide that recommends doing it.

[2018-06-12 18:37] mariano-aguero commented on #32
Hi @Drapsag74
I tried to reproduce the problem without success in an empty proyect, I think the error can be due to a problem at the time of compiling the contract (injecting the library) and not solhint. Do you use truffle?   Could you give us some more information about to how to reproduce the error?

[2018-06-12 18:44] mariano-aguero opened #46 "[Feature Request] Fix option"
Hello, It would be interesting to have the option "--fix" to solve some existing warnings, for example with spaces, quotes, tabs, etc.

This feature would be very helpful

[2018-06-12 18:47] mariano-aguero opened #47 "[Feature Request] Watch mode"
Hello, It would be nice to have the option "--watch" or a kind of watch mode, where you can see errors and problems in real time.

Thanks in advance

[2018-06-29 11:01] avinashmaheshjoshi opened #48 "Is it possible to get the cyclomatic complexity value as an output?"
Hi, I wish to calculate the cyclomatic complexity score for the contracts I'll be using. Is it possible to get that value?

As I understand, here we are just checking with a "max" number?

[2018-07-05 08:10] hiqua commented on #48
If you use:
[code]
then at least you will obtain the complexities for all the functions. You would have to parse the output to compute a proper report from this.

[2018-07-06 12:42] mgarciap commented on #48
I think it should be considered to be built into the linter. The team will take a look at it.
BTW, pls feel free to contribute with your PRs

[2018-07-16 10:55] fvictorio commented on #48
Hello @avinashmaheshjoshi. There's no way right now to do this, except using the workaround that @hiqua mentioned. And since solhint is a linter, I don't think this feature would make sense. Either something is a warning or an error, or it isn't.

It would be nice to have a different tool to do this, though. The code that does this is not too complex. Look at `lib/rules/best-practises/code-complex

[2018-07-16 10:58] hiqua commented on #48
One could argue that it still belongs there, as part of a general report about the code quality, cf pylint as an example of a linter that goes a bit beyond warnings or errors (e.g. it can grade Python code).

[2018-07-26 13:14] mgarciap commented on #5
Hi guys, what is this issue status? Shall it continue open?

[2018-07-26 13:18] mgarciap commented on #16
Hi @fvictorio @sohkai did you agree on how the format be handled? Does it make sense to have this open or should we close it and go for #19 ?

[2018-07-26 13:20] mgarciap commented on #19
@sohkai @fvictorio does @idrabenia answer satisfy the issue's requirement? If not, what do you propose?
We might have a circular reference with #16.

[2018-07-26 13:47] fvictorio commented on #16
Sure.

[2018-07-26 13:47] #16 closed

[2018-07-26 13:49] mgarciap commented on #24
@fvictorio can you take a look at this?

[2018-07-26 13:49] fvictorio commented on #19
I think it should be made more clear that solhint uses the same formatters that eslint and that you can specify the one you want. Right now there's just a link to the eslint docs and you have to assume that's how it works.

[2018-07-26 13:50] mgarciap commented on #27
@idrabenia @fvictorio ?

[2018-07-26 13:50] fvictorio commented on #5
None of the items listed was done, so I don't see why would we close it, except maybe to open a separate issue for each item.

[2018-07-26 13:51] mgarciap commented on #28
@pablofullana, @mariano-aguero, @fvictorio, @idrabenia ?

[2018-07-26 13:52] mgarciap commented on #29
Hi @patrickclery , is this still happening?

[2018-07-26 20:23] mgarciap commented on #19
Could you please update the doc to make it explicit?

On Thu, Jul 26, 2018 at 10:49 AM, Franco Victorio <notifications@github.com>
wrote:

--

Saludos,
Manu

[2018-07-30 11:32] fvictorio commented on #19
Added to the docs: https://github.com/protofire/solhint/commit/7eb0dc0c562588b8d7b46e342138c24fc0352526

[2018-07-30 19:00] chrisaxiom opened #49 "[Bug] Unable to satisfy indentation rules for functions with multiple return values"
I have a particular line in our contract that is unable to pass the linters indentation rules:

[code]
Error:

[code]

If you remove a space from before the first bracket, it replaces 13 with 11 in the error message.  Seems to be an issue with any function that has multiple return values.

[2018-08-11 14:01] carlospinho04 opened #51 "Access all existing rules of solhint in a programatic way"
Is there any way to access all existing rules of solhint in a programatic way?

For instance the method through which the documentation files are created, if they are made automatically?

[2018-08-15 19:04] fvictorio commented on #51
Hi @carlospinho04, could you give us an example of how you would use something like this?

[2018-08-15 19:32] carlospinho04 commented on #51
I'm trying to generate a json with the rules, descriptions, parameters, etc.

Something like `solhint --list-rules` would be great.

[2018-08-16 13:31] fvictorio commented on #51
Do you think something similar to [`eslint --print-config file`](https://eslint.org/docs/user-guide/command-line-interface#--print-config) would work for you? Notice that you have to indicate a file, because the rules can change for different paths.

[2018-08-17 18:49] carlospinho04 commented on #51
What i really need is a command that gives me all the rules available in this linter.

[2018-08-22 00:08] tjayrush opened #53 "no-simple-event-func-name should have an exception of ERC20 token"
ERC 20 is a standard. Unfortunately, they named their `Transfer` event the same as their `transfer` function.

You're correct in marking this as a warning if `no-simple-event-func-name` is being checked, but I think it's a bad idea to do so.

A nieve programmer may change that event name to something else, only to silence the linter, but this will make the token contract non-compliant. In order to

[2018-08-22 12:01] fvictorio commented on #53
I see two options here:

1. Not having that rule enabled by default.
2. Allowing the user to set exceptions. In this case it would be something like: `"no-simple-event-func-name": ["on", { exclude: ["Transfer"] }]`

[2018-08-22 12:03] fvictorio commented on #51
Well, doing that would give you a `rules` object and you could use the keys of that object to have the list of rules.

[2018-08-29 20:54] florblue opened #56 "[Feature request] Add max-warnings option"
Add --max-warnings [int] option in formatter option: Number of warnings to trigger nonzero exit code.

Number of warnings to trigger nonzero exit code - default: -1

The motivation comes from an option that EsLint CLI offers, and continue tha idea of issue #5.

[2018-09-05 13:17] fvictorio opened #59 "Add prettier"

[2018-09-14 18:33] #59 closed

[2018-09-14 19:15] mgarciap opened #62 "Potential security vulnerability in one of your dependencies."
Known high severity security vulnerability detected in cryptiles < 4.1.2 defined in package-lock.json.
--
package-lock.json update suggested: cryptiles ~> 4.1.2.

[2018-09-17 11:04] fvictorio commented on #62
Fixed in 0657e8c6c150e370ceb6fecde273fca2618043e1.

[2018-09-17 11:04] #62 closed

[2018-09-17 15:38] unjapones opened #63 "[Improvement] Add "Used by", "Projects using solhint", etc section to `README.md`"
Add "Used by", "Projects using solhint", etc section to README.md and link/list projects that use solhint.

[2018-09-18 15:52] #63 closed

[2018-09-18 15:56] pablofullana opened #65 "Move rules sections out from readme file"
Move ` Security Rules`, `Style Guide Rules` and `Best Practices Rules` sections put from readme file and simply link `/docs/rules.md` sections

[2018-09-18 16:28] #65 closed

[2018-09-24 11:58] fvictorio commented on #49
There is an open PR. It had some comments last time I checked, but I'll try to make those changes and merge it.

[2018-09-25 14:34] #49 closed

[2018-09-25 14:38] fvictorio commented on #49
@chrisaxiom @clemlak This should be fixed in `1.3.0`. Please re-open if it persists.

[2018-09-27 16:42] fvictorio commented on #53
I think this rule is too opinionated. We are in the process of taking this kind of rules out of the default, making them opt-in (maybe through a plugin) and leaving only the more security-focused rules.

[2018-09-28 16:02] mswezey23 commented on #53
I don't mind enforcing good coding practices, but when we have standards that do not follow said practices... that leads to many frustrations down the road.

I'd like to opt-in for it, but also have the linter be "intelligent" enough to detect that the current code is part of an ERCXXX standard. That was approved with bad practices being enforced, and ignore whatever bad practices the ERC at hand

[2018-09-28 19:01] pablofullana commented on #53
hey @mswezey23 thanks for the feedback. I really like the idea of checking if a given code is PERCXYZ compliant, looks to me that it's worth researching into it. First thing that comes to my mind is checking that it matches proposed interface. Do you think there may be other stuff to check/validate?

[2018-09-28 22:04] pablofullana commented on #56
@fvictorio shall we close this one?

[2018-10-01 10:34] fvictorio commented on #56
Yep.

[2018-10-01 10:34] #56 closed

[2018-10-01 17:50] mswezey23 commented on #53
Hey @pablofullana, thanks for the reply.
Checking the interface is a great first step which would be defined as the ABI.
Which, if I'm not mistaken, would cover these lowercased variable names since the compiler auto generates the `getter` functions.

They're maybe other things to check or validate that pop up as this adventure unfolds.
I wouldn't mind helping this effort by dedicating a couple ho

[2018-10-02 10:13] fvictorio commented on #53
Thanks @mswezey23, contributions are totally welcome!

You can take https://github.com/protofire/solhint/issues/43 if you are interested. It's been open for a while now, and I think it's a good place to start contributing.

[2018-10-08 19:10] pablofullana opened #69 "Separate core library from CLI app"
Evaluate the idea of separating core library from from CLI app:

- Maintenance
- Scalability
- Enable/ease web version development

[2018-10-08 20:12] pablofullana opened #70 "Plugins support"
This may require a lot of changes, but allowing Solhint to be pluggable will bring nothing but great potential to the table.

Just a few things, off the top of my head, to be defined:

1. Configuration. How Solhint will be configured to run plugins.
1. Execution model. Standard API to be implemented by each plugin.

[2018-10-09 13:44] pablofullana opened #71 "Add 'How to Contribute' section"
Add 'How to Contribute' section to README file, covering:

- Contributing process: Fork, branch, commit, PR and so on.
- Adding new rules.
- (optional?) Supporting new output formats.

[2018-10-09 19:24] pablofullana opened #73 "Switch from Blacklisting to Rulesets + Whitelisting"
Blacklisting is quite a tricky and tedious process. Requires many iterations and isn't straightforward at all.
Proposal is to evaluate switching this approach in favor of Rulesets + Whitelisting. Guess it that this will make Solhint setup simpler and more intuitive.

[2018-10-10 14:23] ajhodges opened #74 "Multi-line stubs/events violate "separate-by-one-line-in-contract""
I've been really happy with solhint so far, thanks for the great tool. I have one thing that I just ran into that doesn't make sense to me, even though I think _technically_ it adheres to the official solidity style guide:

[code]

I had to make one of my event declarations span multiple lines, since it was longer than 120 chars. Since my event now spans two lines, the `separate-by-one-line-in-con

[2018-10-10 20:52] pablofullana commented on #47
At the moment, there are no plans for watch mode support to be shipped with Solhint. Instead, [Solhint Watch](https://www.npmjs.com/package/solhint-watch) should do the trick.

[2018-10-10 20:53] pablofullana commented on #47
I'll close this issue for now, and we could re-open it in case we decide to support watch mode from Solhint itself.

[2018-10-10 20:53] #47 closed

[2018-10-11 01:51] pablofullana commented on #73
@fvictorio we could discuss allowing something in the fashion of what is described in #27 as well

[2018-10-11 12:01] fvictorio commented on #74
Hi @ajhodges, thanks for opening this.

I'm not sure what is your suggestion here. You can just disable that rule, can't you? Or are there scenarios where this rule makes sense and you want it on, but not others? If that's the case, could you give us some examples of what you think would be "right" and "wrong" scenarios for this rule?

By the way, we are planning on making all rules opt-in in the

[2018-10-11 12:04] fvictorio commented on #27
Wow, I totally missed this issue.

This shouldn't be hard to do, although I'm not sure how many people would use it. @maurelian are you still interested on this? Sorry for the huge delay.

[2018-10-11 14:11] ajhodges commented on #74
I'm not sure if I have a recommendation - I just wanted to have an open discussion. The `separate-by-one-line-in-contract` rule makes a lot of sense, and I like having it enabled. However the rule seems to be aimed at separating functions, modifiers, structs, etc with whitespace. There is an exclusion for stub functions and events - I guess my recommendation is to add an exclusion for multi-line s

[2018-10-11 21:58] fvictorio commented on #74
Yes, sorry, I didn't mean to imply that you *had* to have one. Triggers for discussions like this are welcome :slightly_smiling_face:

I agree with this. Only the kind of element (event, stub function) should matter, not how many lines spans.

[2018-11-01 18:54] pablofullana commented on #73
Some code to start iterating over https://gist.github.com/pablofullana/5c1e062de0ef15e88996f3a0a17684fd

[2018-11-27 06:10] miguelmota opened #77 "extraneous input 'payable' expecting {'from', 'constant', 'internal', 'private', 'public', Identifier}"
The new syntax `address payable` is not working

[code]

[code]

[2018-11-27 12:35] LogvinovLeon opened #78 "Allow to specify the path to config file"
Sometimes you have multiple solidity projects that want to share the same solhint config. Now the only option is to copy the config file. If we allow to specify the config file location instead of hardcoding it we will be able to put that file in one place and reference it.

[2018-12-03 12:34] #77 closed

[2018-12-10 14:50] nventuro opened #84 "Support for Solidity 0.5.x"
Hi everyone, thanks for the great work on this!

I'm considering migrating from Solium (now Ethlint) to Solhint for OpenZeppelin (there was a request back in the day for this: https://github.com/OpenZeppelin/openzeppelin-solidity/issues/508). The whole thing seems pretty solid, but I found the latest release (v1.4 - by the way, `solhint --version` outputs 1.1.10, you probably [want to fix that](ht

[2018-12-10 15:14] #78 closed

[2018-12-10 17:04] mariano-aguero commented on #84
Hi @nventuro
Thanks for your feedback, is always welcome! We released a new version including the new grammar, also we fix the problem you [notified](https://github.com/protofire/solhint/blob/v1.4.1/solhint.js#L12)
Feel free to reopen the issue if the problem was not resolved.

Best regards

[2018-12-10 17:05] #84 closed

[2018-12-10 23:04] LogvinovLeon commented on #78
Update the README to include the new flag

[2018-12-19 20:25] nventuro opened #90 "Rule to require leading underscores in private variables"
Hi! In [OpenZeppelin](https://github.com/OpenZeppelin/openzeppelin-solidity) we use leading underscores for `private` variables and functions, and `internal` functions (to both emphasize this attribute, and avoid clashing with `public` names).

Would it be possible to add a rule to enforce this sort of thing? I currently need to disable some rules, since e.g. I have `private` variables that are al

[2018-12-20 17:05] nventuro commented on #53
I ended up disabling this rule globally: I find that forcing events to use CamelCase and functions to use mixedCase is enough to differentiate them.

[2018-12-23 15:14] clemlak opened #96 "Data location "calldata" in external function parameters throws an "Unused variable" error"
This error occurs when using Truffle 5 and Solidity 0.5.0.
Solidity 0.5.0 requires to specify the location of the data of external function parameters, but when using `calldata`, Solhint thinks it's the name of a variable and throws an unused variable error.

Here is a small example:
`function foo(bytes calldata bar) external returns (bool)`

[2019-01-02 17:46] pablofullana opened #97 "Fix mode"
Consider adding `--fix` so offenses are auto-fixed when possible.

Open for discussion.

[2019-01-02 18:09] fvictorio commented on #97
Not all rules will be, nor should be, fixable. So I think we can do this in two phases: first, adding _optional_ support that allows each rule to implement a "fixer". I guess this would be a function that transforms a node, but I'm not so sure about it. After that, the second phase would be to implement this for some rules, and gradually add it in all places where it makes sense.

[2019-01-04 20:55] fvictorio opened #100 "Validate rules"
As part of #99, we removed the validation that all configured rules exist, but this is very useful, specially when using plugins. The removal was needed because the rules validation was executed before the plugins were loaded, and there wasn't an easy way to move it after that.

This will need some thought and possibly some restructuring. There are two things that are needed here:

1) Validate tha

[2019-01-06 14:08] mgarciap opened #101 "Add OpenZeppelin to the "Who uses solhint?" section"
OZ has released the 2.1.1 release with Solhint as the new linter. You can add Open Zeppelin logo now

[2019-01-07 21:05] #73 closed

[2019-01-07 21:06] #70 closed

[2019-01-07 21:44] fvictorio commented on #71
Yeah.

[2019-01-07 21:44] #71 closed

[2019-01-09 17:49] #101 closed

[2019-01-10 08:05] pablofullana commented on #19
@fvictorio we should close this one, right?

[2019-01-10 08:08] pablofullana commented on #32
@Drapsag74 I'm closing this one because of lack of feedback. Let us know if you are still facing this issue and have more details, so we can take a deeper look at it. Thanks!

[2019-01-10 08:08] #32 closed

[2019-01-10 08:11] pablofullana commented on #46
Closing in favor of #97

[2019-01-10 08:11] #46 closed

[2019-01-10 15:06] pablofullana commented on #43
Now that we have 2.0 about to be released, and for the good of simplicity, why don't we simply get rid of "`false` and stick to `0 | 'off'`? (keeping in mind that we wanna mimic eslint behavior when possible).

[2019-01-10 17:30] pablofullana opened #104 "Use `federicobond/solidity-parser-antlr` instead of using `solidityj/solidity-antlr4` directly"
This will enable us to use the AST in a simpler (higher level) way.
For example, it will let us do `node.stateMutability` instead of parsing/checking the text of each children.

[2019-01-10 17:59] yxliang01 commented on #104
I am wondering, why not use the official solc to convert to AST? It's free of lacking support of new syntax.

[2019-01-22 17:50] fvictorio commented on #19
Sure.

[2019-01-22 17:50] #19 closed

[2019-01-22 17:56] fvictorio commented on #104
@yxliang01 Does `solcjs` support this too? If only `solc` allows it, to do this we should download the proper binary when installing solhint. Not saying that it's a bad idea, but we should see if it's worth it.

[2019-01-23 22:43] sohkai commented on #104
The potential problem with `solcjs` and `solc` is that they require compiling all the contracts to get the AST, so it takes a lot more resources and time to do (especially annoying if your editor blocks when trying to lint). `solc` in particular, can be annoying to install, and different versions of `solc` support different variants of syntax so you'd also need to specific your contract pragma bef

[2019-01-30 03:46] fulldecent opened #105 "JSON schema"
May the JSON schema describing .solhint.json files please be added to this project.

[2019-02-01 14:56] ytumanov opened #106 "Not allowed to open bracket '{' from new line after constructor/function declaration"
Referring to https://solidity.readthedocs.io/en/develop/style-guide.html#function-declaration when we have long function name, we should open '{' bracket from new line:
![image](https://user-images.githubusercontent.com/6347381/52129102-5c9b7d80-263f-11e9-8200-b025de05de08.png)
When I'm trying to do the same, solhint generates an error 'Open bracket must be on same line. It must be indented by oth

[2019-03-15 14:57] miguelmota commented on #97
Would be great if solhint can autofix simple things such as indentation

[2019-03-15 15:06] fvictorio commented on #97
Hi @miguelmota. We are trying to delegate styling concerns to [`prettier-plugin-solidity`](https://github.com/prettier-solidity/prettier-plugin-solidity). It's still not 100% ready for production, but it's close enough. Maybe you can give it a try?

[2019-04-05 20:15] nventuro opened #108 "Add rules for revert reason strings"
We'll be working on [revert reasons in OpenZeppelin](https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1709), and it'd be great to have some sort of linter support for this. The two features I can think of are:
a) check that every `require` statement has a reason string
b) check that each reason string is at most N characters long (if it's a literal)

Do you think this is something that

[2019-04-05 23:16] fvictorio commented on #108
I like this idea a lot. Not sure if it should be a core rule or part of a plugin.

Do you guys think you would like the idea of having a `solhint-plugin-zeppelin`? We could give you a hand with the migration to 2.0 and setting up the plugin if you are interested.

[2019-04-06 08:30] sohkai commented on #108
This sounds like it'd be useful as a core rule, where you can use an option to specify the maximum length of each error string (solidity by default allocates 32 bytes worth of space, so the most efficient, outside of doing it in assembly, is to ensure your strings are never more than 32 chars long).

[2019-04-08 16:02] nventuro commented on #108
This is precisely the intent behind the rule, we've seen contracts become too large due to long revert reasons, and because of that I also think it makes sense as a core rule. We'd be down for having a plugin for more project-specific settings though!

[2019-04-11 07:32] dkent600 opened #109 "Should count CRLF as one character"
solhint 1.5.1 counts CRLF as two characters.  Should only be one.

[2019-04-11 15:45] fvictorio commented on #109
Hi @dkent600. Could you give us an example where this is a problem?

[2019-04-11 15:54] dkent600 commented on #109
@fvictorio  It happens for me with lines that are 120 characters long (right at the limit), which solhint thinks are 121.

Example (including the preceding spaces):

[code]

[2019-04-11 15:56] fvictorio commented on #109
I see, thanks!

[2019-04-23 16:06] nventuro opened #111 "Add minimum compiler version"
Right now only `compiler-gt-0_4` is available: it'd be great if we could specify ourselves the minimum version.

[2019-04-24 17:18] fvictorio opened #113 "Deprecate `compiler-gt-0_4` and `compiler-fixed` rules"
See #112. That rule should be used instead.

I would love to remove these rules, but we just moved to 2.0 and this would be a breaking change, sadly.

[2019-05-08 21:45] #111 closed

[2019-05-11 02:35] habdelra opened #114 "mark-callable-contracts rule is firing a false positive on structs"
The `mark-callable-contracts` rule is being triggered against `structs`, as they are instantiated very similarly to contracts. We should update this rule so that it does not get triggered by structs. Take for instance this example:

[code]

Note that `solhint-disable-next-line` had to be used for this to pass solhint as the `struct` was being confused for a contract.

[2019-05-14 14:10] #114 closed

[2019-05-14 21:10] habdelra opened #116 "mark-callable-contracts rule is firing a false positive on emitting events"
The `mark-callable-contracts` rule is being triggered against emitting events, as events are camel-cased very similarly to contracts. We should update this rule so that it does not get triggered by emitting an event. Take for instance this example:
[code]

[2019-05-15 16:53] #116 closed

[2019-05-16 02:01] habdelra opened #118 "mark-callable-contracts rule is firing a false positive on constants"
The mark-callable-contracts rule is being triggered against emitting events, as events are camel-cased very similarly to contracts. We should update this rule so that it does not get triggered by emitting an event. Take for instance this example:
[code]

[2019-05-27 11:57] ChrisChinchilla opened #120 "Indention issues in Assembly blocks"
As far as I can see from my testing, solhint doesn't notice indentation issues inside `assembly{}` blocks.

[2019-05-27 12:12] ChrisChinchilla opened #121 "Check for order"
The Solidity style guide specifies a particular order of elements (https://solidity.readthedocs.io/en/v0.5.8/style-guide.html#order-of-layout), I appreciate this is quite a hard linting test to code, but I wondered if it's something you'd considered?

[2019-05-27 16:52] fvictorio commented on #121
Hi @ChrisChinchilla, thanks for the feedback. Does `func-order` not work for this?

[2019-05-27 16:55] fvictorio commented on #120
Thanks @ChrisChinchilla! While this does seem like a bug, we are starting to delegate this kind of checks to the [Prettier plugin](https://github.com/prettier-solidity/prettier-plugin-solidity/), so you might want to try that along with the [`solhint-prettier-plugin`](https://github.com/fvictorio/solhint-plugin-prettier).

[2019-05-27 17:00] #118 closed

[2019-05-29 08:29] ChrisChinchilla commented on #120
@fvictorio So I understand correctly here. I typically thought prettier fixed formatting issues, whereas a linter identifies them, so isn't this the job of a linter?

[2019-05-29 18:04] fvictorio commented on #120
Yeah, the idea is for prettier to do the formatting, and for solhint to let you know when your code is not formatted as prettier would do it. Similar to how you use `eslint` and `eslint-plugin-prettier`. Does that make sense?

[2019-05-30 12:10] ChrisChinchilla commented on #120
Yes, but I don't think this addresses my initial question/report… So I think this is a bug in the linter, and is it one that should be fixed here or not?

Or are you saying that any formatting violations are just handled by prettier and passed back to the linter? If that's the case, will it report what the issue is? And not just "prettier says there's a problem"? Just trying to understand what thi

[2019-05-30 12:21] ChrisChinchilla commented on #121
@fvictorio I don't think so, we have this contract:

[code]

Which should tigger a violation, but solhint reports no issues. Possibly there's more at fault in the example, and maybe I am looking at different order rule than function order.

[2019-05-30 12:53] fvictorio commented on #120
Oh, yes, let me clarify.

The issue you are reporting is right. But fixing it will probably be very low priority for us, since working on that stuff sort of duplicates the work done on `prettier-plugin-solidity`. That's why we encourage people to use that.

With respect to the report: it will tell you where the problem is, and how to fix it, but in practice it's not a very readable message (not cr

[2019-05-30 12:56] fvictorio commented on #121
I will take a look asap, thanks!

[2019-05-30 15:45] fvictorio opened #122 "Improve docs"
The docs right now leave a lot to be desired. I think there are two very important things to do:

1) Add individual pages for all rules, describing what they do and showing code snippets with scenarios where the rule reports and error and where it doesn't.
2) Indicate in the list of rules which ones are enabled when `solhint:recommended` is extended.

[2019-05-30 15:46] #43 closed

[2019-05-30 15:47] fvictorio commented on #43
For the record: `0` and `'off'` are still valid. Since we already published 2.0, the only thing we can do is deprecate them.

[2019-05-30 15:48] fvictorio opened #123 "Deprecate disabling rules with `false` and `0`"
See #43. Slightly related to #113 (since both need some machinery added for deprecating stuff).

[2019-05-30 15:57] pablofullana commented on #122
We may need to consider using a tool like the following ones, don't we?
- [readthedocs.io](https://readthedocs.io)
- [gitbook](https://www.gitbook.com/)
- [docusaurus.io](https://docusaurus.io/)

[2019-05-30 16:26] fvictorio commented on #122
That would be nice, but I think for a first step just a bunch of markdowns should work. I'm guessing most of those platforms support markdown, so we can do that in another step.

Btw, readthedocs is under `.org`, not `.io`.

[2019-06-11 11:14] ChrisChinchilla commented on #120
Thanks @fvictorio we're actually linting the code blocks in the Solidity docs, so prettier isn't an option right now, but thanks for the heads up and I will use it in standalone contracts

[2019-07-04 19:09] fvictorio opened #125 "Better error when config file doesn't exist"
When `.solhint.json` doesn't exist, or when the file passed with `-c` doesn't exist, the thrown error is:

[code]

which is not very descriptive. Plus, the exit code is 0 instead of being non-zero.

[2019-07-16 21:09] #125 closed

[2019-07-30 12:11] #108 closed

[2019-08-07 13:18] fvictorio opened #130 "compiler-version should reject files without versions"
If `compiler-version` is enabled, then a file like

[code]

shouldn't pass that rule because there's no pragma with the solidity version.

[2019-08-07 15:24] adetante opened #133 "mark-callable-contracts rule is firing a false positive on enums"
The mark-callable-contracts rule is being triggered against enums (similar to #114 and #118).

Simple contract to reproduce the issue:
[code]

Produces the following warnings:
[code]

[2019-08-07 16:01] adetante commented on #133
I have just created the PR https://github.com/protofire/solhint/pull/134

[2019-08-07 16:32] #133 closed

[2019-08-08 12:22] #109 closed

[2019-08-09 12:18] fvictorio opened #136 "no-unused-vars not working for params of empty functions"
Code:
[code]

Config:
[code]

No error is emitted. Notice that this does emit:
[code]

[2019-08-13 13:56] fvictorio opened #137 "Update examples in the "Configure linter with comments" section"
At the very least, the rule used for those examples is deprecated, but the whole section could probably use a revamp too.

[2019-08-13 13:56] fvictorio opened #138 "Update the document with the list of rules"
The table with the list of rules has a lot of noise, especially around the "options" column.

[2019-08-13 13:57] fvictorio opened #139 "Create a documentation page for each rule"
As eslint does, we should have a documentation page for each of the supported rules, explaining the reason behind it and showing some example snippets that pass and don't pass the rule.

[2019-08-13 13:59] fvictorio opened #140 "Document the structure of the project"
Document how the project is structured, its architecture, how it depends on the solidity grammar, and stuff like that. Useful both for internal reference and to make it easy for new contributors to get started.

[2019-08-13 14:00] fvictorio commented on #122
Closed in favor of #137, #138, #139, #140

[2019-08-13 14:00] #122 closed

[2019-08-13 17:32] #113 closed

[2019-08-13 17:32] #123 closed

[2019-08-13 17:35] fvictorio commented on #109
Hey @dkent600, sorry for taking so long to handle this. It should be fixed in version 2.2.0, in case you want to test it. Thanks again for the report!

[2019-08-14 13:33] ChrisChinchilla commented on #137
Section mentioned is this one - https://github.com/protofire/solhint/blob/master/docs/configuration.md#configure-linter-with-comments

[2019-08-14 13:37] ChrisChinchilla commented on #138
@fvictorio Could you define a little more what you mean by "noise"? Do you mean it's mostly the same in each row and repeated?

[2019-08-14 13:43] ChrisChinchilla commented on #139
Each linked example here - https://eslint.org/docs/rules/

[2019-08-14 13:44] ChrisChinchilla commented on #140
@fvictorio Where might someone start looking to find this information?

[2019-08-14 20:15] fvictorio commented on #140
I don't think we have anything yet. I guess this one should be done by someone familiar with the project.

[2019-08-14 20:17] fvictorio commented on #138
Yeah, all those `default`s are useless, and the way we are documenting the rules that have options is a little cryptic.

[2019-08-21 07:46] ChrisChinchilla commented on #138
Approval from @fvictorio with help from @ChrisChinchilla

[2019-08-21 07:55] ChrisChinchilla commented on #139
Approval from @fvictorio with help from @ChrisChinchilla

[2019-08-21 07:56] ChrisChinchilla commented on #140
Approval from @fvictorio with help from @ChrisChinchilla

[2019-08-23 03:41] SantiagoGregory commented on #140
What files and in what folders would you like documented and you would you like them documented? @ChrisChinchilla @fvictorio

[2019-08-23 09:21] akersof commented on #137
@fvictorio please can you explain what do you mean by "deprecated", because i am checking the code and the comment rules looks ok in the documentation.

[2019-08-23 12:58] akersof commented on #137
@fvictorio can you please explain what do you mean by "deprecated", because i am not sure to understand well if we are talking about the same thing.
`throw` is indeed deprecated in solidity but this is why this rule exists, a warning to the user who tries to use this old solidity feature.
So the example in your doc is fine.
[code]

[2019-08-23 14:51] fvictorio commented on #137
Oops, sorry, my bad. I was talking specifically about the `compiler-fixed` and `compiler-gt-0_4` rules, the other ones seem fine.

[2019-08-26 10:05] Elemino commented on #140
*I would love to cover the various aspects of usability for this project with emphasis on security. Apologies for the grammar mistakes. I needlessly was in a rush to submit.

[2019-08-27 11:05] ChrisChinchilla commented on #140
@gilzon @think-in-universe @Elemino Did any of you finish? Bear in mind this is a competition bounty, so only one PR will be chosen.

[2019-08-27 17:25] think-in-universe commented on #140
@ChrisChinchilla I have sent the PR for this issue, please take a look and let me know for any feedback: https://github.com/protofire/solhint/pull/144

[2019-08-27 20:04] touhonoob commented on #138
should be resolved by #143

[2019-08-28 19:32] fvictorio opened #145 "Indicate which rules are recommended in the list of rules"
Add a new column in the table with a check mark for the rules that are included in the `solhint:recommended` config.

[2019-08-28 19:35] fvictorio opened #146 "Add `--init` as alternative to `init-config`"
It's more like `eslint` and shorter. We can add it as an alternative so that's a non breaking change.

[2019-09-02 02:04] think-in-universe commented on #140
@fvictorio @ChrisChinchilla hi guys, any more feedback or suggestions for the document?

[2019-09-04 13:35] #140 closed

[2019-09-04 14:39] fvictorio opened #149 "Upgrade grammar to latest version"
I upgraded the grammar to the latest version but some tests failed. These tests are for the `statement-indent` rule, specifically the tests around `for` statements.

The root of the problem is [this commit](https://github.com/solidityj/solidity-antlr4/commit/fbe865f8ba510cbdb1540fcf9517a42820a4d097): before that, the condition of a `for` was a (potential) expression followed by a semicolon; now th

[2019-09-04 18:11] #145 closed

[2019-09-04 20:51] fvictorio commented on #24
Closing this since the snippet doesn't compile (solhint doesn't work if there are parser errors). Please re-open if there's a different scenario when the compiler works but the semicolon is not necessary.

[2019-09-04 20:51] #24 closed

[2019-09-05 11:29] fvictorio opened #154 "Add one-contract-per-file rule"
According to the [style guide](https://solidity.readthedocs.io/en/v0.5.10/style-guide.html#contract-and-library-names):

If a contract file includes multiple contracts and/or libraries, then the filename should match the core contract. **This is not recommended however if it can be avoided.**

(Emphasis added)

Checking if the filename matches the contract might be a different rule, or everything

[2019-09-06 15:27] fvictorio opened #155 "Deprecate `no-simple-event-func-name`"
This rule comes from a [deprecated recommendation](https://consensys.github.io/smart-contract-best-practices/recommendations/#differentiate-functions-and-events-solidity-0421) in Consensys Best Practices Guide. Now that the `emit` keyword was introduced, this rule doesn't make much sense anymore.

Alternatively, we could enable this rule just for contracts in a version before `0.4.21`, but as far

[2019-09-06 15:34] fvictorio opened #156 "Add `reason-string` to recommended ruleset"
This seems like a good rule to have in the recommended ruleset. But beyond that, I don't think we have a policy for promoting rules to "recommended" (or for demoting them), so I would like to use this issue to have that meta-discussion. Specifically:

1) How is a proposal made? I think just opening an issue should be enough, but it might be a good idea to have this documented somewhere.
2) What cr

[2019-09-06 15:53] pablofullana commented on #156
I think we could work on a "recommended rule proposal" template. Making sure that issuer states motivation behind and why it makes sense to have it as a recommended vs an optional rule. Pointing out use cases that reflect its scope (as in: how common it is to have this rule activated) to give a sense of usage.

What about taking into account best practices compliance and, related to previous answe

[2019-09-09 08:15] kevsul opened #157 "`reason-string` rule incorrectly handles `revert`"
The `reason-string` rule checks that calls to `require` and `revert` include an optional message string. It works fine for `require` calls, but not for `revert`.

The issue is that the rule incorrectly treats both calls as if they took 2 arguments, whereas `revert` only takes one (the reason string). [Solidity docs](https://solidity.readthedocs.io/en/v0.5.11/control-structures.html)

So this works

[2019-09-09 08:15] kevsul commented on #157
PR here: https://github.com/protofire/solhint/pull/158

[2019-09-09 17:43] fvictorio commented on #157
Closed by #158.

[2019-09-09 17:43] #157 closed

[2019-09-16 12:27] #31 closed

[2019-09-19 11:29] kevsul opened #159 "maxWarnings flag doesn't work as expected when there are multiple source files"
When calculating if the number of warnings exceeds the number given by the maxWarnings flag, only the first source file (report) is taken into account. Any warnings in subsequent files are not counted.

[2019-09-19 11:30] kevsul commented on #159
PR: #160

[2019-09-19 14:03] #159 closed

[2019-09-19 14:04] fvictorio opened #161 "Add tests for --max-warnings"
This can be a unit test (assuming this is something unit-testable, otherwise it might require a refactor) or a e2e (which we don't have right now, but it would be nice to add).

[2019-09-30 13:26] 0age opened #162 "type(Contract) parser error"
Consider the following Solidity contract:
[code]

Running solhint on this contract results in the following error:
[code]

Similar errors are raised when using `type(BadLint).creationCode` and `type(BadLint).runtimeCode`.

[2019-10-09 13:56] mariano-aguero commented on #96
Hello @clemlak , I was not able to reproduce the issue.

These are the steps to reproduce the problem
- Installed solc 0.5.0 (Version: 0.5.0+commit.1d4f565a.Linux.g++)
- Installed Truflle 5.0.0 (Version: Truffle v5.0.0)
- I created a smart contract with an interface as you describe it ( `function foo(bytes calldata bar) external returns (bool);` )
- I used the following solhint configuration:
[cod

[2019-10-09 13:56] #96 closed

[2019-11-05 17:42] pablofullana opened #163 "Remix plugin"

[2019-11-05 17:42] pablofullana opened #164 "Truffle plugin"

[2019-11-05 17:43] pablofullana opened #165 "Tutorials"

[2019-11-17 20:35] fulldecent opened #166 "Roadmap dates are outdated [GOOD FIRST ISSUE]"
https://protofire.github.io/solhint/roadmap.html

[2019-11-19 20:03] StillFantastic opened #168 "Wrong indent error"
Here is part of my solidity code:
[code]

After running `solhint **/*.sol`, I got this error message

which is at line `else return fibonacci(n - 1) + fibonacci(n - 3);`

Here is my `.solhint.json` file:
[code]

[2019-11-29 19:35] fernandomg opened #169 "no-unused-vars not working for assembly declared variables"
Code:
[code]

Config:
[code]

No error is emitted, while it should emit as `t` is not being used.

[2019-12-11 13:01] christianparpart opened #170 "Support for Solidity 0.6.x"
Hi,

first, many thanks for this great too. We're using solhint in our own CI @ solidity to check the Solidity source code within the Solidity documentation.

Now, the 0.6.0 release is around the corner, and our CI is failing due to some of the new features being implemented.

See: https://solidity.readthedocs.io/en/develop/060-breaking-changes.html#new-features

From what I can tell, at least the

[2019-12-11 13:38] fvictorio commented on #170
Hi @christianparpart, I'm very glad Solhint has been useful to you!

We are in the middle of some work towards Solhint 3.0. One of the things that will come out of it is that we are going to leverage [`solidity-parser-antlr`](https://github.com/federicobond/solidity-parser-antlr) for the parsing and that will let us keep in sync with new Solidity versions more easily.

That being said, we are cons

[2019-12-11 14:22] christianparpart commented on #170
Hm, the solidity-parser-antlr project isn't maintained by us, so you make yourself depending on an external project where you are not in control how long it will take them to adapt with syntax changes. I am not sure that this will speed up adaptability.

With regard to the other: using a solhint plugin in our CI shouldn't be of any issues.

[2019-12-11 18:11] fvictorio commented on #170
Oh, sure, but Federico has done an excellent job so far, and AFAIK he's just adding a thin abstraction over the antlr grammar we are using directly right now. If at some point he doesn't maintain it anymore, it should be forkable since it's MIT licensed.

(ccing @federicobond since he might be interested on this discussion).

[2019-12-23 20:45] mariano-aguero commented on #28
Hi @linusnorton , how are you ? Thanks for contributing to solhint, we really  appreciate.

I'm worried about this possible rule, I was analyzing the implementation and I found many situations that make some noise:
  - We cannot distinguish between structs and contracts
  - We will have many false positives
  - I think a rule that does not detect 100% of the cases makes no sense (This is a persona

[2019-12-23 22:14] linusnorton commented on #28
I agree, it should work for everything or not at all

[2019-12-23 22:14] #28 closed

[2019-12-27 13:49] sohkai commented on #170
I don't know if this makes _complete_ sense, as some people may want a linting and not code formatting tool, but for users of prettier (including me), forcing more people to use the prettier plugin seems like a good idea to mature that plugin :).

I guess it's a question of what we'd consider style, as almost everything outside of the `security` package could be considered style.

[2019-12-27 17:22] fvictorio commented on #170
I think this should be doable with a plugin. I personally would love to see someone working on that. The problem is that style rules are hard and we prefer to use that effort in other stuff.

I think pretty much anything that doesn't change the AST is a style rule. If that means that solhint's core will only have security rules, that seems like a sensible choice to me.

[2020-01-06 12:34] pablofullana commented on #130
@fvictorio shall we close this one then?

[2020-01-06 13:38] fvictorio commented on #130
Closed by #172.

[2020-01-06 13:38] #130 closed

[2020-01-15 15:09] mirceanis opened #173 "mark-callable-contracts is firing false positive for event declared after a function"
This is related to #116 only the false positive is fired if the event is declared **after** the function.

I added a failing test case here:
[code]

[2020-01-16 13:46] fvictorio commented on #173
Hi @mirceanis, thanks for the report!

We are working on a new major version (3.0) and this test passes there, so this should be fixed when we publish it. We should have a beta of it soon.

Of course it would make sense to fix this in 2.0 too, but all of our bandwidth is on the new version right now. That being said, if this is a showstopper for you, let me know and I'll see if there's an easy fix

[2020-01-16 13:56] mirceanis commented on #173
It's not a showstopper, I'm definitely glad this is already a non-issue in the future release.
Thanks for all the good work!

[2020-01-16 14:02] fvictorio commented on #173
Of course. If you want to do it, just open a PR against the `3.0` branch with it.

[2020-01-16 19:55] mirceanis commented on #173
Since it's already fixed in 3.0 I guess it's best to close it here

[2020-01-16 19:55] #173 closed

[2020-01-20 19:20] fvictorio opened #175 "Measure running times"
It would be nice to have some benchmarks on how fast (or slow) solhint is.

Not sure how to do this. Using something like [this file](https://github.com/solidityj/solidity-antlr4/blob/88c2be659adc4b65adce7efc48657cacb5ed9675/test.sol) duplicated several times —perhaps with modifications for making some rules fail— could be a start.

[2020-01-23 07:05] yozaam commented on #166
What would the updated dates be?
Or would we add new milstones to the roadmap?

[2020-01-23 18:06] pablofullana commented on #149
@fvictorio now that #104 has been merged, shall we close this one?

[2020-01-23 18:11] #104 closed

[2020-01-23 20:45] nventuro commented on #170
Is there an estimate for when 3.0 will be released? Sadly 0.6's new keywords (abstract, virtual, receive, etc.) completely break solhint, making it unusable :(

[2020-01-23 20:53] fvictorio commented on #170
Hi @nventuro!

We want to release 3.0 as soon as possible. We have some pending things, but the main blocker is a situation with [`solidity-parser-antlr`](https://github.com/federicobond/solidity-parser-antlr) (issue: https://github.com/federicobond/solidity-parser-antlr/issues/98) so we'll probably have to wait for that to be resolved.

In the meantime, I think we can publish a release candidate

[2020-01-23 20:55] nventuro commented on #170
Sure! We don't use try/catch yet, so if that's the only missing feature on an rc I'd love to give it a go.

[2020-01-24 00:19] fvictorio commented on #170
Cool, I'll try to publish it tomorrow. Will let you know as soon as it's available.

[2020-01-24 17:20] #97 closed

[2020-01-24 19:18] fvictorio commented on #170
@nventuro you should be able to try the new version with `npm i solhint@next`

[2020-01-28 16:39] nventuro commented on #170
Thanks @fvictorio! The new version is able to correctly parse my 0.6 code, but I get a new warning that didn't show up when using 2.3: it looks like a linter bug. Other than this, everything seems to be working fine!

Given an override like the following, where not all function arguments are used:

[code]

I get the following warning:

[code]

[2020-01-28 17:43] fvictorio commented on #170
Wow, that's weird. I'll take a look into it, thanks!

And by the way, a heads up: we are removing all the styling rules in 3.0. We might move them to a plugin, or let the community do it, but we've found that they take a lot of work to maintain and we want to focus more in the best practices and security rules. Just letting you know because I saw that you are using a couple of them (maybe we shoul

[2020-01-28 19:00] nventuro commented on #170
Sounds good!

This is a great idea, yes!

[2020-01-29 20:07] fvictorio commented on #170
@nventuro Fixed that in `3.0.0-rc.2`. It will also warn you about the rules that don't exist anymore.

By the way, with respect to the styling, have you guys considered using [`prettier-solidity`](https://github.com/prettier-solidity/prettier-plugin-solidity)? It's still kind of beta but I think it should work well enough, and being adopted by OZ would surely give it the push it needs to get to a

[2020-01-30 13:20] fvictorio opened #181 "Add rule for detecting redundant fallback function"
Adding a fallback function that just reverts:

[code]

is the same as not adding it (and maybe the bytecode is unnecessarily larger? I don't know if the compiler is smart enough to detect this).

We could have a rule for detecting this. The rule should check if the fallback function has only one statement **and** if that statement is a call to revert.

The only potential issue I see is if you add

[2020-01-30 14:01] fvictorio commented on #90
Hi @nventuro. I started to work on this rule and I could use some details.

I'm curious about the reason for using a leading underscore in private **and** internal variables, but only in internal functions. Any reason not to use it in private variables too? I will make this configurable in the rule, but I would like to have some sensible default.

Also, do you have any preference for the name of t

[2020-01-30 14:32] fvictorio commented on #90
More thoughts on this.

I think having a single `naming` rule might make sense, but the config will be a mess:

[code]

On the other hand, having a single rule for each combination would be worse. We would have rules likes `state-variable-internal-camel-case` etc. In a sense, this is what we're doing now; we're just missing a lot of combinations. And adding configuration would be weird: `"var-name

[2020-01-30 18:41] nventuro commented on #170
Thanks for the suggestion! What needs to be done to have it working on 3.0?

[2020-01-30 19:06] nventuro commented on #90
To clarify, we use it in all private variables, and private and internal functions. public variables, and public and external functions don't start with an underscore.

An important exception I now realized I failed to mention is libraries: inside a `library`, no internal function starts with an underscore (`internal` means different things in `contract` and `library).

I don't mind this name at a

[2020-01-30 20:02] fvictorio commented on #170
Mainly upgrading the parser in `prettier-solidity`, and then checking what new formatting rules need to be added (if any) for solidity 0.6. I already have it working for 0.6 in the sense that it can parse it, but without the formatting. I'll use that in your 0.6 branch to see what new nodes need to be handled.

[2020-01-30 20:24] fvictorio opened #183 "Use better-ajv-errors"
See discussion here: https://github.com/protofire/solhint/pull/182#issuecomment-580376784

[2020-01-31 12:10] fvictorio opened #184 "Missing rule warnings are being emitted for each file"
Right now if you do `solhint Foo.sol Bar.sol`, then the warnings will be emitted twice.

[2020-01-31 14:00] fvictorio commented on #90
Well, I ended up just doing a single rule for this. These are the test cases. @nventuro could you please tell me if they work for you?:

[code]

[2020-01-31 14:29] fvictorio commented on #90
I ran this in your `dev-v3.0` branch and these are the emitted warnings:

[code]

By the way, `const-name-snakecase` doesn't emit a warning for me when I add a leading underscore to a const.

[2020-01-31 14:31] fvictorio commented on #90
Oh, you fixed that: e3aa88f :sweat_smile:

[2020-01-31 16:20] nventuro commented on #170
Great, thanks! Let me know when you want for me to give it a try with 0.6.

[2020-01-31 16:28] nventuro commented on #90
Those test cases look good! There's only one you might want to change:

I think the default is `private`, so this should be fine (we always make the visibility explicit though).

Thanks for taking a look at the dev3.0 branch! From a quick overview those warnings seem to be correct - that's why we want a linter :joy:

[2020-01-31 19:53] #90 closed

[2020-02-03 14:12] fvictorio opened #186 "Add information about where the warning ends"
Right now `processStr` only indicates where the warning begins. This makes sense when reporting the errors in the console but for other things (e.g. highlighting) it's not enough information. We should also output the line and column where the warning ends. (And maybe also the length? This would be redundant if you have the line and columns for the beginning and the end **and** the source file, bu

[2020-02-06 16:46] forshtat opened #187 "Multiline string literals seem to be broken"
See: https://github.com/ethereum/solidity/pull/7524
This makes such declarations legal:
[code]
However, when using solhint with such string I get
```line 43:4 extraneous input '"bbb"' expecting ';'```

[2020-02-06 18:51] fvictorio commented on #187
Hi @forshtat. Thanks for opening this. This is an upstream issue with the parser. Sadly, the parser is in a kind of limbo state: there's the [original repo](https://github.com/federicobond/solidity-parser-antlr), [Consensys's fork](https://github.com/consensys/solidity-parser-antlr) and a [fork of my own](https://github.com/fvictorio/solidity-parser-antlr) that I had to do because Consensys is not

[2020-02-12 21:22] forshtat commented on #187
https://github.com/ConsenSys/solidity-parser-antlr/commit/f0de2fcbadffe7c2660dfe16cdf069a0e096e591

[2020-02-12 21:22] #187 closed

[2020-02-14 14:32] fvictorio commented on #149
Solved in solhint@3.0

[2020-02-14 14:32] #149 closed

[2020-02-17 19:48] pablofullana opened #189 "Embark plugin"
Embark framework: https://framework.embarklabs.io/

Plugins: https://framework.embarklabs.io/plugins/

Creating a plugin: https://framework.embarklabs.io/docs/creating_plugins.html

[2020-02-21 14:51] fvictorio opened #192 "`processStr` doesn't work with `extends`"
Extends are applied in `readConfig`, in `solhint.js`. That means that the `config` parameter of `lib/index.js:processStr` expects the extends to be already applied.

Notice that plugins, on the other hand, do work (or should at least, haven't tested it) because they are applied in `lib/rules/index.js`, that is called from `processStr`.

[2020-02-27 13:15] fvictorio opened #194 "Update architecture doc"

[2020-02-28 22:58] mdnorman opened #197 "mark-callable-contracts notified on superclass method calls"
Superclasses cannot be renamed to follow the `Trusted`/`Untrusted` pattern, and they should always be trusted since they are imported and the source is known beforehand.

Example:
[code]

solhint output:
[code]

Expected behavior is to ignore the calls to `ERC20Mintable.initialize(...)` and `ERC20Detailed.initialize(...)`

[2020-02-29 13:37] fvictorio commented on #197
Hi @mdnorman, thanks for reporting this.

I guess the exception should be for any imported contract, not only superclasses, right? For example, I don't know if library calls trigger a false positive for this error, but it shouldn't.

The problem in that case is that you have no way to know the libraries/contracts imported from a file, since Solhint only works at file-level (i.e., it doesn't look a

[2020-03-01 02:23] mdnorman commented on #197
Even if solhint only works at file-level, it can see the imports, and if it looks at the structure of the contract, it can parse out whether it's a variable or the name of an imported class.

I also ran into a problem with constructing structs, eg `MyStruct({someField: someValue})`

[2020-03-01 02:25] mdnorman commented on #197
To answer your question about the rule config, I probably wouldn't whitelist the classes. Instead, I would just do what I'm doing now, which is to use `// solhint-disable-next-line mark-callable-contracts`

[2020-03-01 17:13] fvictorio commented on #197
Yes, good point, I guess something can be done there. The imports don't actually matter because you don't have any guarantee that the imported name matches the file name, if that's what you're saying. But you could see if the variable is declared somewhere or if it's a parameter.

I think there would be some false negatives though. For example, if your contract inherits from another one, defined i

[2020-03-01 19:26] mdnorman opened #198 "mark-callable-contracts notified when creating instances of a struct"
I have a struct in a base class, eg `MyStruct`:

[code]

Which I want to construct in an inherited contract:
[code]

Error:
[code]

NOTE: I also tested when the struct was in the same file:
[code]

Error:
[code]

[2020-03-01 19:31] mdnorman commented on #197
I see what you mean regarding the filename not matching the contract name.

I created the struct bug here: https://github.com/protofire/solhint/issues/198

Is the rule currently just looking for function calls on PascalCase? I noticed that if I have a variable named with lowerCamel, it doesn't seem to catch any problems.

[2020-03-03 17:35] sebastianst opened #199 "Update documentation: extends now expects an array"
The documentation doesn't explain the `extends` configuration field. It now is expected to be an array.

[2020-03-03 17:36] sebastianst opened #200 "Update documentation: Rule 'indent' doesn't exist"
The documentation still speaks of the rule `indent` but version 3 seems to have deleted or renamed this rule.

[2020-03-03 19:58] fvictorio commented on #199
Hi @sebastianst, thanks for reporting this. I just published version `3.0.0-rc.5` that should fix this.

[2020-03-05 20:53] AleG94 opened #201 "A function named 'leave' breaks solhint"
Having a function named `leave` like this one will break solhint validation.

[code]

Executing solhint returns:

`Error: ParserError: no viable alternative at input 'functionleave'`

Version: 3.0.0-rc.5

[2020-03-06 03:05] fvictorio commented on #201
Hi @AleG94, thanks for reporting this. It seems like a problem with the parser we are using, I'll open a related issue.

[2020-03-11 04:18] nventuro commented on #170
Solidity v0.6.4 [deprecated](https://github.com/ethereum/solidity/releases/tag/v0.6.4) the `.value(x)` syntax in favor of `{value: x}`. This fails to parse in solhint v3.0.0-rc.5 with `Error: Unrecognized expression`.

As an example, the following statement:

[code]

Should now be written as:

[code]

[2020-03-11 12:02] fvictorio commented on #170
Thanks @nventuro. I opened an issue in the parser's repo for this.

[2020-03-11 15:53] nventuro opened #202 "Release candidate tagged as 'latest'"
v3.0.0-rc.5 is currently tagged as 'latest' on npm, with 'next' being v3.0.0-rc.3:

![image](https://user-images.githubusercontent.com/2530770/76436184-aacc9580-6396-11ea-99d5-58e41ab3566e.png)

'latest' has an important meaning in the npm registry: it is the version that will be installed by default when no tag or version is specified. In other words, people running `npm install solhint` will hav

[2020-03-12 13:34] fvictorio commented on #202
Yes, I forgot a `--tag next` during a publish. It should be fixed now, thanks!

[2020-03-12 13:34] #202 closed

[2020-03-20 14:04] patitonar opened #204 "check-send-result is triggered when using require"
Code:
[code]

the rule `check-send-result` is not triggered when using an `if` statement or assigning the result of `send` to a variable but it is triggered when using `require` or `assert`. I think the last two are also valid ways of checking the result.

[2020-03-25 13:33] fvictorio opened #205 "Check that all revert reasons are different"
If a contract has more than one require/revert with the same reason, and one of them is triggered in a transaction, you don't have a way to tell apart between them.

Ideally this rule should be cross-file, but we don't have support for that (yet?)

[2020-03-31 12:32] juanfranblanco commented on #170
Hi, how safe is to upgrade vscode to use the RC version of solium?

[2020-04-01 14:05] juanfranblanco opened #206 "Feature request: Allow to set the path for the plugins"
Hi I hope you are all well,

Vscode is not able to load the plugins as these will not be packaged with the extension, to workaround this it will be ideal if a path could be passed to load the plugins together with the list of names.

https://github.com/protofire/solhint/blob/32ec781509c9b76db325d0c2db91c8c478441d6a/lib/rules/index.js#L53

This is how it is handled in prettier.

Suggestion: The sol

[2020-04-03 02:57] fvictorio commented on #206
Hi @juanfranblanco, sorry for not responding before. I'm not 100% sure I understand what would work for you. In the linked issue you suggest having a flag similar to prettier's `--plugin-search-dir`, is that correct? If we implement that, would that solve the issue for you?

[2020-04-03 13:23] fvictorio commented on #170
I think it's pretty safe, and in fact it would help us a lot to validate the RC. We haven't released as a stable version mainly because docs are not completely up to date, but functionality-wise it should be pretty much ready.

[2020-04-03 13:26] juanfranblanco commented on #206
Don't worry, responding issues is really hard and takes time.

You are right that is how it works with prettier. So that could be the usual magic of letting the user set it on the solhint file, in the extension itself or if nothing is set, use the the default node_modules in the workspace.

This is how I have integrated with prettier if it helps:
https://github.com/juanfranblanco/vscode-solidity/b

[2020-04-03 14:57] nventuro commented on #170
Keep in mind https://github.com/ConsenSys/solidity-parser-antlr/issues/14 is still open, so if you're using that syntax the linter will crash :/ We're keeping https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2115 unmerged because of that.

[2020-04-03 15:40] Jaime-Iglesias opened #207 "Plugin error on version 3.0.0-rc.6"
I'm doing some testing with plugins around this version and when I try to use a custom plugin I get the message `plugins.map is not a function`

I don't get the error if I just put `"plugins": []"`

my `.solhint.json` looks like so:

![test](https://user-images.githubusercontent.com/22358726/78378849-7630b000-75c9-11ea-8c81-0cf4b006c37d.png)

Without plugins it works just fine.

[2020-04-03 16:17] fvictorio commented on #206
I see, makes sense. Will try that approach then, thanks :+1:

I guess you are using solhint as an executable binary, right? In version 3.0 we tried to also properly export it as a "library", so maybe you want to try this. That's not documented yet, but it's just:

[code]

Both config and filename are optional. In this case, I guess you'd pass the `pluginSearchDirs` options there.

[2020-04-03 16:18] fvictorio commented on #206
Oh, and we should document what is returned by that function :man_facepalming: I'll try to do it when I have some time, but for the time being you can probably figure it out by inspecting it :sweat_smile: Let me know if you have any questions about that.

[2020-04-03 16:20] fvictorio commented on #207
You get the error if you do `"plugins": ["cmf-rules"]` but not if you do `"plugins": []`?

If that's the case, that's very weird. Thanks for reporting it!

[2020-04-03 16:21] fvictorio commented on #170
Aghh, that's really frustrating. I'll try to make a PR for that this weekend.

[2020-04-03 16:41] Jaime-Iglesias commented on #207
@fvictorio I found that very weird too, but I've tried several times and that's indeed the case hahaha.

btw, totatlly unrelated, is `solidity-parser-antlr` the only thing holding back the full `0.6.x` syntax support for the `RC` version ?

[2020-04-03 16:49] Jaime-Iglesias commented on #207
@fvictorio Did some extra testing and it works just fine, it was totally my fault (I was missing a `export`)

I'm closing the issue as it's solved - apologize again.

[2020-04-03 17:22] juanfranblanco commented on #206
Solium is used as follows: https://github.com/juanfranblanco/vscode-solidity/blob/master/src/linter/solium.ts it was contributed by yourselves.

[2020-04-04 15:02] fvictorio commented on #206
This is solhint, not solium :smile:

[2020-04-04 17:33] fvictorio commented on #207
Hmm, sound like we should show a better when whatever is exported in the plugin is wrong. I will reopen this issue to track that improvement.

[2020-04-04 17:35] fvictorio commented on #207
Thanks btw! That was the main goal of a huge refactor we did :smile:

[2020-04-04 18:12] Jaime-Iglesias commented on #207
if it helps, what I was missing was the `module.exports` with all the clases in my custom rules.

[2020-04-05 06:10] juanfranblanco commented on #206
Oh my!! Sorry :)

[2020-04-06 12:40] juanfranblanco commented on #206
@fvictorio it seems that we are having issues with extends too [solhint:recommended] will this be related, it used to work before.

[2020-04-15 21:09] nventuro commented on #170
@fvictorio the latest rc (3.0.0-rc.7) parses the new `{ value: x }` syntax correctly, but yields false-positives.

For example, the following code

[code]

errors out with
[code]

[2020-04-16 18:50] fvictorio commented on #201
Hey @AleG94, sorry this took so long. Could you please check the latest `next` version and see if this still happens?

[2020-04-16 20:59] AleG94 commented on #201
No worries, I can confirm it works on `3.0.0-rc.7`. Thank you!

[2020-04-16 20:59] #201 closed

[2020-04-18 15:51] fvictorio commented on #207
Fixed in `v3.0.0-rc.8`

![image](https://user-images.githubusercontent.com/417134/79642323-38a85700-8173-11ea-880d-b191a835f3a5.png)

[2020-04-18 15:51] #207 closed

[2020-04-20 12:54] Jaime-Iglesias commented on #206
Any update on this issue ? I'd love to see custom plugins and the `recommended` rule set working on the extension :D

friendly ping @fvictorio

[2020-04-20 16:10] fvictorio commented on #206
Not yet, hopefully this week.

[2020-04-22 22:21] justinjmoses opened #211 "Nested solhints for mixed solidity linting"
We have a situation where one folder of contracts is using an older compiler version. I was hoping that nested `.solhint.json` files would work like eslint - that is, any rules in a folder overrides rules in a parent folder but that doesn't seem to be the case.

For instance on this repo: https://github.com/justinjmoses/solhint-nesting-example

You'd expect running `npx solhint "contracts/**/*.sol

[2020-04-23 15:48] fvictorio commented on #211
Hi @justinjmoses, thanks for reporting this.

In this specific scenario you can do something like this:

[code]

But of course in a more realistic scenario this won't work. One workaround I can think is having a `.solhint-ignore-legacy` with `contracts/legacy` inside and then doing:

[code]

That being said, supporting nested config files would be great, but I don't think we'll be able to work on

[2020-04-23 17:43] justinjmoses commented on #211
Understood and I appreciate the quick follow up @fvictorio

[2020-04-23 17:43] #211 closed

[2020-04-23 20:35] fvictorio commented on #206
Hey @juanfranblanco, could you try installing Solhint from github, using the `plugin-search-dir` branch, and see if this works for you?

You should call it like this:

[code]

Where `solidityCode` is a string with the code to lint, `config` is an object like the one in `.solhint.json`, and `pluginSearchDir` is the path to where the `node_modules` directory with the plugins is located. That means t

[2020-04-23 20:52] fvictorio commented on #206
I just did the same change for shareable configs (aka extends) too. Same branch, so you should be able to test it.

Of course, that means that `pluginSearchDir` is a bad name, I will think of something better (`extensionsDir`?), but first I want to see if it works :smile:

[2020-04-23 20:58] fvictorio commented on #199
I think this was fixed. Please reopen if that's not the case.

[2020-04-23 20:58] #199 closed

[2020-04-23 21:04] fvictorio commented on #170
Thanks everyone for the feedback! I'm going to close this issue to keep things organized. Please open a new issue if something else shows up, or if something in this thread wasn't fixed.

[2020-04-23 21:04] #170 closed

[2020-04-23 21:07] fvictorio commented on #192
This seems to be fixed.

[2020-04-23 21:07] #192 closed

[2020-04-23 21:34] fvictorio commented on #211
Awesome. Let me know if that approach works for you. Please reopen if you think it's not enough.

[2020-04-28 09:33] tsujp opened #212 "Change project description on GitHub"
The current description is verbose and favours crediting protofire before describing what is actually does for sentence 2.

[code]

A better, concise description would be

[code]

It is already apparent that this is a project from protofire as there is `protofire / solhint` in the top-left on GitHub not to mention the repo's location is `https://github.com/protofire/solhint`.

[2020-04-29 22:32] Jaime-Iglesias commented on #206
@juanfranblanco friendly ping

[2020-04-30 06:29] juanfranblanco commented on #206
@Jaime-Iglesias  sorry a bit overboard at the moment, next week i will have some time for this ;)

[2020-04-30 11:57] Jaime-Iglesias commented on #206
Yeah, don't worry - just wanted to make sure you had seen it - Stay safe !

[2020-04-30 18:24] #194 closed

[2020-05-01 22:05] fvictorio opened #215 "Remove header generated by generate-rule-docs.js script"
I don't think the header is useful. Plus, each time the rules are updated, all of them are modified with the timestamp. I think we should just remove it.

[2020-05-04 14:21] fvictorio commented on #184
Closed by #214.

[2020-05-04 14:21] #184 closed

[2020-05-04 14:22] fvictorio commented on #162
This should be fixed in 3.0. Please re-open if that's not the case. And sorry for taking so long!

[2020-05-04 14:22] #162 closed

[2020-05-04 14:24] #155 closed

[2020-05-04 14:25] fvictorio commented on #156
Oops, I should've done this before releasing 3.0.0. I think _adding_ rules to recommended can be done without a major version though. I'll tag it for a 3.1.0 release.

[2020-05-04 14:27] #69 closed

[2020-05-04 14:28] fvictorio commented on #164
Closing this for now.

[2020-05-04 14:28] #164 closed

[2020-05-04 14:33] fvictorio commented on #168
Hey @StillFantastic, we removed styling rules in 3.0 to make maintenance easier, and we recommend using [prettier-solidity](https://github.com/prettier-solidity/prettier-plugin-solidity), so I will close this issue. Sorry for the late response.

[2020-05-04 14:33] #168 closed

[2020-05-04 14:34] fvictorio commented on #120
Closing this since we removed all styiling rules and probably won't fix this in 2.0.

[2020-05-04 14:34] #120 closed

[2020-05-04 14:36] fvictorio commented on #166
Just deleted the roadmap file, it was very outdated and wasn't useful. We'll try to start using github's milestones instead.

[2020-05-04 14:36] #166 closed

[2020-05-04 14:37] fvictorio commented on #74
Closing this since we removed all styiling rules. Check 3.0 release notes for more information.

[2020-05-04 14:37] #74 closed

[2020-05-04 14:37] fvictorio commented on #106
Closing this since we removed all styling rules. Check the 3.0 release notes for more information.

[2020-05-04 14:37] #106 closed

[2020-05-04 14:38] fvictorio commented on #48
Closing this since we probably won't do this.

[2020-05-04 14:38] #48 closed

[2020-05-04 14:40] fvictorio opened #216 "Consider deprecating `mark-callable-contract`"
This rule is very hard to enforce, since it would need cross-file information to avoid false positives/negatives. Plus, I honestly don't think it's useful (I've never seen a contract marking external contracts in the wild).

[2020-05-04 19:05] #204 closed

[2020-05-05 12:40] #215 closed

[2020-05-05 15:13] fvictorio commented on #136
I declare this to be Expected Behavior

![crowning](https://user-images.githubusercontent.com/417134/81082517-c00efd80-8ec9-11ea-8f81-e99d0843a311.gif)

[2020-05-05 15:13] #136 closed

[2020-05-05 16:11] fvictorio opened #223 "Errors thrown in rules are being ignored"
This is very important for sanity checks and for detecting problems in general. For some reason, thrown errors in rules are being ignored. We should, of course, log them and exit with a non-zero value.

[2020-05-07 16:21] #216 closed

[2020-05-12 23:04] opz opened #227 "Rules break with new syntax for sending ether or gas to external contracts"
`f.value(x).gas(g)()` is deprecated in favor of `f{value: x, gas: g}()` as of 0.6.2 ([docs](https://solidity.readthedocs.io/en/v0.6.7/control-structures.html#external-function-calls)).

- **no-unused-vars** does not detect variables x or g.
- **indent** detects incorrect indentation.
- **bracket-align** warns open bracket must be on the same line.

[2020-05-13 22:04] fvictorio commented on #227
Hi @opz. That new syntax should work with solhint@3. We might add support for it in version 2 if there's enough demand, but it will take some time. Here's the release in case you're interested in upgrading: https://github.com/protofire/solhint/releases/tag/v3.0.0

[2020-05-14 02:55] opz commented on #227
Thanks @fvictorio, looks like buidler-solhint was using v2.0.0. I'll close the issue.

[2020-05-14 02:55] #227 closed

[2020-05-15 22:02] fvictorio opened #228 "Add rule for payable fallbacks"
The [docs](https://solidity.readthedocs.io/en/v0.6.0/contracts.html#receive-ether-function) say:

So adding a rule for that would make sense.

[2020-05-20 17:45] fvictorio commented on #206
Hey @juanfranblanco, did you have a chance to test this?

[2020-05-20 18:16] juanfranblanco commented on #206
@fvictorio no I have not had time.. did you included it in the current 3.0.0 release?

[2020-05-21 14:31] fvictorio commented on #206
No, it's a little risky so I wanted to validate it first.

I don't use VSCode, but how hard is for me to test it myself? I guess I would need to clone your extension, add this change, and load it locally in the editor. Is that correct?

[2020-05-21 15:14] juanfranblanco commented on #206
yeah.. just clone the extension and run it :) now obviously you need to reference your package to test the change, it will be great if you could do it as you know best what to expect and how to use that package. If you need any help to get setup let me know.

[2020-05-23 19:55] PaulRBerg commented on #45
I upgraded to ^3.0.0 recently. Does "two-lines-top-level-separator" not exist anymore? If yes, is there a changelog so see everything that changed?

[2020-05-23 20:19] PaulRBerg commented on #45
Nevermind, I found this thread in the meantime:

https://github.com/prettier-solidity/prettier-plugin-solidity/issues/143

My understanding is that the prettier plugin enforces the two lines because of the Solidity documentation. If that is correct, shouldn't solhint follow along? Or is it that with v3, you wanted to be as unopinionated as possible, and delegate most of the formatting to prettier

[2020-05-24 21:26] fvictorio commented on #45
That's correct, in v3 we removed all styling rules because they take a lot of time to maintain and are not worth it (at least IMO). So now, if you use prettier-solidity and the [solhint plugin](), then solhint will just let you know if your files differ from how prettier would format them. Does that make sense?

[2020-05-24 21:32] PaulRBerg commented on #45
Yup, thanks for confirming @fvictorio. The only issue with the solhint plugin is that it's not up to date, iirc I couldn't use it with solhint v3 and above.

[2020-05-25 13:37] fvictorio commented on #45
Really? Oh, I will check that, thanks for letting me know.

[2020-05-25 13:40] fvictorio commented on #45
Seems to work fine with v3 for me. Can you open an issue with reproduction steps in the plugin's repo if it isn't working for you?

[2020-05-25 14:23] PaulRBerg commented on #45
I was getting this error:

But I realised that the issue was that I was running a globally-installed version of solhint. When I switched to the local one by prefixing the command with "yarn", things went well.

[2020-06-02 17:36] fvictorio opened #230 "`compiler-version` does not work with default value"
Reproduction:

[code]

[code]

## Expected

Use default value for the compiler version (`^0.5.8`)

## Result

[code]

Adding square bracket to the rule (`"compiler-version": ["error"]`) works as expected.

[2020-06-25 16:19] fvictorio opened #232 "Use solc as parser"
The solidity compiler will eventually have an option to stop the compilation at the AST generation stage and to print it (as a JSON, I assume?)

See issue: https://github.com/ethereum/solidity/issues/8739

Ideally solhint would take advantage of this instead of relying on https://github.com/solidity-parser/parser, which has several issues.

There are some problems to solve before doing this though

[2020-06-27 23:32] #156 closed

[2020-06-27 23:33] #146 closed

[2020-07-06 15:07] Jaime-Iglesias commented on #206
Hi all!

Has there been any progress regarding this issue ?

[2020-07-09 15:05] fvictorio commented on #206
@Jaime-Iglesias I'm working on it, I hope to have it fixed on these days!

@juanfranblanco I started looking into this but I ran into an issue. I don't know anything about developing vscode extensions, so I might be asking very silly questions.

I edited `solhint.ts` to receive a `extensionPath: string` in the constructor, so that that can be used when calling `linter.processStr`. The problem is,

[2020-07-13 14:23] fvictorio opened #236 "Add rule for detecting if a dependency is explicitly installed"
Similar to [`node/no-extraneous-require`](https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/no-extraneous-require.md).

For example, if a contract does `import "@openzeppelin/contracts/token/ERC721/ERC721.sol";` but `@openzeppelin/contracts` is not installed, an error should be emitted.

I'm not sure if this should be a core rule or a plugin. If there are other possible rules

[2020-07-26 13:36] PaulRBerg opened #239 "TypeError: cannot ready property 'errorCount' of undefined"
## Description
Happens on Windows 10 version 1909 when running `solhint` as a local dependency installed with yarn 1.22.4.

Happens in both PowerShell and Git's Mingw64.

![Annotation 2020-07-26 163533](https://user-images.githubusercontent.com/8782666/88480324-1d14cf80-cf5e-11ea-889a-fa013eb6e43a.jpg)

## Steps to Reproduce

1. Clone https://github.com/paulrberg/solidity-template
2. Install depen

[2020-07-30 01:18] junderw opened #240 "Support 0.7.0 constructors without "public" or "internal""
Related issues:

Dependency: https://github.com/solidity-parser/parser/issues/23
Related repo: https://github.com/prettier-solidity/prettier-plugin-solidity/issues/310

[2020-07-30 01:27] fvictorio commented on #240
Depends on https://github.com/solidity-parser/parser/issues/23

[2020-07-30 12:38] junderw commented on #240
I have a local branch with some fixes based off my branch

https://github.com/protofire/solhint/compare/master...junderw:master

[2020-07-30 16:33] fvictorio commented on #240
I think there's nothing to do here except upgrading the parser. Our rule of thumb in solhint is to avoid reporting errors that the compiler will raise, which is the case here. The deprecated constructor-syntax is different because there were two valid ways of specifying a constructor, but one of them was recommended over the other. Does that make sense?

[2020-07-30 22:06] junderw commented on #240
yes. but currently it will require all 0.7.0 users to always ignore the func-visibility rule for the constructor.

perhaps the func-visibility security rule could check for version and isConstructor, then not throw the error if so.

a linter that "warns" doing something is wrong when that is required by the compiler seems off.

[2020-07-30 22:38] fvictorio commented on #240
Oh, I get your point now. Yes, that makes sense.

[2020-07-30 22:43] junderw commented on #240
I made a "more-correct" version of the semver compare as well. Here's a PR with the change. Added a test.

https://github.com/protofire/solhint/pull/241

[2020-07-31 10:00] dherykw commented on #14
Not working for me on Ubuntu with Node versions:

- v7.10
- v8.9
- v10.16
- v12.18

**log**: 2020-07-31 11:57:49,099 [1406472]   WARN - a.solhint.client.SolhintClient - Can not connect to Solhint validation server

[2020-07-31 11:22] fvictorio commented on #14
Hi @dherykw, can you open a new issue with details about what's not working for you?

[2020-07-31 13:16] quezak opened #242 "no-empty-blocks false positive in inherited constructor"
Hello! I'm migrating from ethlint and found the same issue that I [reported there](https://github.com/duaraghav8/Ethlint/issues/264) some time ago :)

In an inherited contract, the constructor often just calls the base constructor, and its block is empty. This should be an exception from the `no-empty-block` rule, but now it causes a `warning    Code contains empty block`.

Copied from the [offici

[2020-07-31 13:33] quezak opened #243 "allow immutable state variables to be named in CAPS_SNAKE_CASE"
This is more of a question than a bug report -- IMO [immutable variables](https://solidity.readthedocs.io/en/v0.7.0/contracts.html#constant-and-immutable-state-variables) should be allowed to be treated as constants, since they in fact cannot be changed.

Currently the code below returns a `warning  Variable name must be in mixedCase` when linted with the recommended ruleset.

[code]

[2020-07-31 14:57] dherykw commented on #14
sure

[2020-07-31 15:19] dherykw opened #244 "Solhint is not found"
**Error**
I am getting the following error in the Pycharm Event Log console:
 "Solhint is not found: Please provide correct path to Solhint. Fix"

**OS**
Ubuntu 20.04
IDE: Pycharm 202.6397.98

**Dependencies**
Node installed with nvm
version tested:
- v7.10.1
- v8.9.4
- v8.15.0
- v10.16.0
- v12.18.2

Solhint installed with npm:
[code]

**Solidity sholhint settings**
![image](https://user-images.gi

[2020-08-04 12:23] geigerzaehler opened #245 "Proper error output for parse errors"
Currently parse errors cause an exception which results in `solhint` aborting and printing the Javascript stack trace. This makes it difficult to extract parse errors from the output for IDE integration for example. Ideally parse errors would show like any other hint error.

I’m happy to provide a patch.

[2020-08-05 14:24] fvictorio commented on #242
Yes, this makes a lot of sense! Should be easy to implement. I can give you some pointers if you feel like giving this a shot. If not, I'll try to fix it soon.

[2020-08-05 14:29] fvictorio commented on #243
I think we need to rethink the whole approach to naming, since it's hard to make some calls. For example, the linked docs use mixedCase for immutable variables, but I agree that it makes sense to use SNAKE_CASE.

The quick and backward compatible fix here is to add an option to the `var-name-mixedcase`. Something like `{ ignoreImmutable: true }`. The problem is, if you do that you would also need

[2020-08-05 14:31] fvictorio commented on #245
Makes sense! This is also what eslint does. Feel free to open a PR, and let me know if you have questions or need some pointers.

[2020-08-05 14:47] quezak commented on #243
It's hard to think of a good single setting here, since it really concerns two rules. The simplest way would be to have some "general config" option `treat-immutable-vars-as-constants`, but that's kinda bad design since it's not really a general option, just a two-rule option...
Maybe it will be enough to add a `treat-immutable-var-as-constant: true` option to both these rules? You'd have to turn

[2020-08-05 14:54] fvictorio commented on #243
Yeah, I'd be fine with that. Especially because having such a long and ugly option would motivate me to totally redo the naming rules in the next major :smile:

[2020-08-05 15:49] fvictorio commented on #239
Hey @PaulRBerg, this is really weird :/ I can't reproduce it neither in Linux nor in a Windows 10 virtual machine.

[2020-08-05 16:30] PaulRBerg commented on #239
Hmm .. weird. Now it works on my end too.

I just started using Windows 10 after a long time on Mac .. maybe I got my setup wrong when I opened this issue.

[2020-08-05 16:30] #239 closed

[2020-08-05 18:45] fvictorio commented on #239
I'm sorry to hear that :slightly_frowning_face:

[2020-08-05 20:45] PaulRBerg commented on #239
Haha, it's temporary! My Mac had a hardware fault and I left it at the repair store.

[2020-08-13 22:58] #245 closed

[2020-08-13 23:05] #121 closed

[2020-08-13 23:05] #169 closed

[2020-08-13 23:19] #240 closed

[2020-08-13 23:25] fvictorio commented on #244
Hey @dherykw, this seems like a problem with https://github.com/protofire/idea-solidity-solhint, right? I think that issue belongs there (but I don't think anyone is maintaining it, to be honest). Please re-open if you think this is an issue with solhint itself!

[2020-08-13 23:25] #244 closed

[2020-09-18 11:55] ilkecan opened #248 "The fallback function declared after the receive function shouldn't trigger the ordering rule"
[ordering](https://github.com/protofire/solhint/blob/master/docs/rules/order/ordering.md) rule shows false positive when there is an `external receive` function before the `fallback` functions. For example, for this contract:
[code]
Solhint generates this warning:
`Function order is incorrect, fallback function can not go after external function`
which is incorrect, according to the [Style Guide](

[2020-09-23 11:16] Jaime-Iglesias commented on #206
Hi all - hope everyone is doing well!

Has there been any progress on this ?

[2020-09-23 13:05] fvictorio commented on #206
Hey @Jaime-Iglesias, not from me, I got stuck with what I mentioned in my last comment and haven't really worked on this since then, and I don't really know when I'll have time to do it :slightly_frowning_face:

[2020-09-23 13:30] ZumZoom opened #249 "visibility-modifier-order false positive in case of payable argument and custom modifier"
[code]

This contract triggers `Visibility modifier must be first in list of modifiers` however visibility modifier is already first in list of modifiers. Issue is reproduced only with `address payable` argument, `payable` modifier and a custom modifier.

[2020-09-23 13:50] ZumZoom opened #250 "no-unused-vars false positive in case of address payable argument without name"
[code]

This contract triggers `Variable "payable" is unused` however payable is not a variable.

[2020-09-28 19:02] cruzdanilo opened #251 "[deleted]"
example:
[code]
results in:
[code]

[2020-09-28 19:33] Jaime-Iglesias commented on #206
No worries - I think I'll endup just ditching the solidity extension completely and switch to a different approach, solhint is too useful to let go :D

Totally unrelated, just subscribed to your "exploring Ethereum", keep it up !

[2020-09-29 17:09] #251 closed

[2020-10-15 14:45] fvictorio opened #254 "Replace travis with a github action"
At the moment, we have both travis and a github action for the e2e tests. It would make more sense to do everything with github actions (plus this way everything can be tested in windows and mac too).

[2020-10-15 19:35] moodysalem opened #255 "underscores in number literals cause solhint to delete all comments in the file"
repro case:
[code]

solhint will remove all the comments in the file if it's `10_000` but not if it's `10000`
expect it to not remove comments

[2020-10-16 11:37] fvictorio commented on #255
Wait, what? Solhint shouldn't modify your file, unless your are using `--fix`. Is that the case?

[2020-10-16 15:54] moodysalem commented on #255
yes, using solhint with prettier, so it is running with fix. either way, just running solhint on the file complains about comments, *iff* you have the underscore

[2020-10-16 17:44] fvictorio opened #256 "Max warnings doesn't work with stdin"
See https://github.com/protofire/solhint/pull/253#issuecomment-709377691

[2020-10-17 13:29] fvictorio commented on #255
Hey @moodysalem, this does seem to happen but when using `prettier-plugin-solidity` with the file. Solhint doesn't have a fix for prettier errors. (Wild guess: you have a npm script like `"lint:fix": "solhint --fix **/*.sol && prettier --write **/*.sol"`, and it's the second command that is doing this).

I suggest you open an issue in [prettier-solidity](https://github.com/prettier-solidity/pretti

[2020-10-17 13:29] #255 closed

[2020-10-17 13:38] moodysalem commented on #255
Thanks @fvictorio, looks like it's already reported here https://github.com/prettier-solidity/prettier-plugin-solidity/issues/355

[2020-10-18 16:50] gitpusha opened #257 "Feature request: no-unsed-functions"
Requesting new rule to be added to solhint that's similar to `no-unused-vars` but for `no-unsed-functions` and it would look at all functions that are **not** `virtual` and thus should really be used.

[2020-10-19 13:09] gitpusha opened #258 "Linter counts immutable vars as state vars"
Hi,

For the `max-states-count` rule, the linter counts `immutable` vars as state variable declarations, which shouldnt be the case, right?

See:
![image](https://user-images.githubusercontent.com/36712489/96455015-ec6eca00-121c-11eb-982f-4be9fda267c1.png)

[2020-10-19 13:24] fvictorio commented on #258
![image](https://user-images.githubusercontent.com/417134/96456683-3643ba00-11f5-11eb-907e-0cc1a45fbc9c.png)

[2020-10-19 13:25] fvictorio commented on #258
Pretty sure it's a bug tho

[2020-10-20 03:54] deluca-mike opened #259 "Error on import not found, when import is in fact found"
Similar to #32 , when I import a contract that I have installed (va some npm package, my own) I get an error that it cannot be found, when it in fact can, and compiles without issue.

`npm install merkle-trees` or `yarn add merkle-trees`

[code]

`Source "merkle-trees/eth/contracts/libraries/calldata/bytes/standard/merkle-library.sol" not found: File import callback not supported`

[2020-10-20 13:15] fvictorio commented on #259
But solhint doesn't have (yet) a rule for missing imports. That seems like an error from the compiler or from some framework.

[2020-10-20 13:31] gitpusha commented on #258
Yeah, I guess the rule was invented with saving on sloads/sstores in mind, right?

[2020-10-20 13:32] gitpusha opened #260 "Feature Request: no-unused-imports"
A rule for warning/error about any unused imports.

[2020-10-20 19:53] fvictorio commented on #258
That rule is before my time, but maybe? I always interpreted it as "don't make contracts that are too complex"

[2020-10-21 02:03] cruzdanilo opened #261 "support new file-level constants"
solidity v0.7.4 supports file-level constants, which causes solhint parsing error.

https://solidity.ethereum.org/2020/10/19/solidity-0.7.4-release-announcement/

[2020-10-21 02:45] deluca-mike commented on #259
@fvictorio You're right, its `vscode-solidity`'s fault. Closing.

[2020-10-21 02:45] #259 closed

[2020-10-21 11:35] gitpusha opened #262 "solc 0.7.4 file-level functions parser error"
The parser used by solhint doesnt seem to support solc 0.7.4 file level functions yet.

I get this:

![image](https://user-images.githubusercontent.com/36712489/96714201-19001e80-13a2-11eb-89cc-afda523a06c0.png)

For something like this:

[code]

Also adding `/* solhint-disable */` atop didnt stop the linter from linting.

However, putting said file in `.solhintignore` worked.

[2020-10-21 13:21] gitpusha opened #263 "lint-staged npm package does not read .solhintignore"
I use [lint-staged](https://www.npmjs.com/package/lint-staged) like so to run my husky pre-commit hook.

![image](https://user-images.githubusercontent.com/36712489/96725058-ca0db580-13b0-11eb-8475-54ce0c741d20.png)

So it runs `solhint` against every `.sol` file.

However, I had a linter bug with solc 0.7.4 which I reported here #262 . So I put that file in `.solhintignore`. When I ran `solhint`

[2020-10-21 17:17] fvictorio commented on #262
Are you sure? I just tested it with a file with a top-level function (for other reasons) and it worked fine.

[2020-10-27 14:31] fvictorio opened #266 "Don't import test code from main code"
Some file is importing something from some test file. This means that we have to include the test directory in the published package, but besides that it's just a bad idea. I haven't looked into it, but it's probably easy to fix.

[2020-10-28 18:10] gitpusha opened #268 "func-name-mixed-case clashes with snake case for constant vars"
I guess for `constant` and `immutable` state vars which should be `SNAKE_CASE` this rule clashes for their pure getter fns:

![image](https://user-images.githubusercontent.com/36712489/97478366-1f1d6e80-1951-11eb-86cf-875c280a48fb.png)

[2020-10-28 18:15] gitpusha commented on #262
Yep pretty sure: you can try it out [here](https://github.com/gelatodigital/gelato-instadapp/blob/master/contracts/vendor/DSMath.sol).

Using `"solhint": "3.3.0"`

[2020-11-02 09:39] gitpusha commented on #261
yes, I get this errror for this sol code

[code]

`  10:0  error  Parse error: extraneous input 'IGelatoGasPriceOracle' expecting {<EOF>, 'pragma', 'import', 'abstract', 'contract', 'interface', 'library', 'struct', 'function', 'enum', 'constructor', 'fallback', 'receive'}`

[2020-11-02 09:40] gitpusha commented on #262
Seems to be resolved with version `0.3.1` . Correct?

[2020-11-05 10:31] gitpusha opened #270 "Remove immutable state vars from var-name-mixedcase"
Like `constant` state vars I also like to `snake-case` my `immutable` state vars because it makes it easier to spot in my code where I am relying on immutable values.

![image](https://user-images.githubusercontent.com/36712489/98229348-13860500-1f5a-11eb-8744-9c821b6fe128.png)

However, currently this clashes with two rules I also use:

1. `var-name-mixedcase` forces me to also make `immutable` m

[2020-11-06 09:56] josh-richardson opened #271 "Feature request: introduce an 'info' error level / allow plugins to override default error level in certain instances"
I've written a solhint plugin which can be found [here](https://github.com/josh-richardson/solhint-plugin-gsn/blob/master/solhint-plugin-gsn.js) which is designed to work with [gas station network](https://docs.opengsn.org/learn/). It basically replaces instances of `msg.sender` with the GSN-specific implementation which is `_msgSender()`.

In certain instances the plugin cannot be sure whether or

[2020-11-06 12:37] fvictorio commented on #271
I'm not sure this is a good idea, or at least that the use case justifies the extra complexity.

The underlying problem is that the plugin makes fixes that can break the code, right? I personally think that automatic fixes should only be used when they are "safe", but that's very subjective. If they are not safe, then I think it's mainly a communication issue: it should be properly explained in th

[2020-11-08 12:37] #258 closed

[2020-11-08 13:38] #249 closed

[2020-11-08 13:44] fvictorio commented on #261
This should be fixed in `solhint@3.3.2`, BUT I didn't update any rule, so I'd suggest you check if your expectations about contract-level constants match what happens with file-level constants (for example, if naming works). If something that works for contract-level constants but doesn't (and should) for file-level constants, please open an issue!

[2020-11-08 13:44] #261 closed

[2020-11-08 13:45] fvictorio commented on #262
Should be fixed in `solhint@3.3.2`, please re-open if it doesn't.

[2020-11-08 13:45] #262 closed

[2020-11-10 15:07] josh-richardson commented on #271
Fair enough. I just thought it would be nicer to have it formatted into the solhint output table, but I see your point of view. I'll close this for now.

[2020-11-10 15:07] #271 closed

[2020-11-11 07:48] wighawag commented on #239
I am getting the same error in my CI :

[code]

[2020-11-19 06:22] junderw opened #273 "Bump @solidity-parser/parser dependency to 0.9.1"
Currently using separated `hex'ffff' hex'ffff'` hex literals causes solhint to break.

[2020-11-20 22:47] frangio commented on #270
I ran into this as well.

I would actually suggest that `immutable` variables should be treated exactly like `constant` variables as far as these rules are concerned (`var-name-mixedcase` and `const-name-snakecase`).

[2020-11-23 06:50] gitpusha commented on #270
I guess some people still like to make `immutable` vars `mixed-case` because they do not have to be `initialized` like `constant` vars and that sort of sets them apart.

So I think having the extra `immutable-name-snakecase` rule would be benificial for both groups.

[2020-11-23 17:49] hellwolf commented on #270
yes please!

[2020-11-27 13:50] gitpusha opened #274 "bug: solhint ordering"
`"solhint": "3.3.2",`

`"ordering": "error",`

doesnt seem to work e.g [here](https://github.com/gelatodigital/gelato-instadapp/blob/7bbbe0d15831ef6653dfcf264ae94d56dc0823c0/contracts/contracts/connectors/ConnectGelatoDataFullMakerToMaker.sol#L81).

[2020-11-27 14:31] #248 closed

[2020-12-01 14:13] wighawag commented on #239
Any luck in finding what could cause this ?
I tried adding check for removing the errorCount of undefined but the issue is deeper, because if I do that while the error do not appear anymore, the lint pass while it should not (1 warning with --max-warnings 0)

[2020-12-01 14:21] wighawag commented on #239
Oh actually I found the issue, I needed to escape the glob pattern. nevermind then :)

[2020-12-14 16:30] gitpusha commented on #274
In general `solhint` `ordering` rule doesnt seem to work for functions that use a `virtual` modifier.

[2020-12-14 16:46] gitpusha commented on #274
In general `solhint` 's ordering rule seems to diverge a fair bit from the [solidity style guide](https://docs.soliditylang.org/en/latest/style-guide.html#order-of-functions) ones.

I believe solhint ordering tries to enforce:

1. external
2. external view/pure
3. public
4. public view/pure
5. internal
6. private

when I think the rule set should be (according to solidity docs):

1. external
2. ex

[2020-12-16 22:20] fernandomg commented on #274
Hey @gitpusha, you're right we're missing the view/pure modifiers for internal and private functions.

I'll give it a look and come back to you with an approach.

Thank you!

[2020-12-17 07:56] gitpusha commented on #274
Hi @fernandomg thanks for your time!

Also the initial issue what seems to be an actual bug in the existing rule set because `solhint` doesnt complain about `public view` coming before `external payable` [here](https://github.com/gelatodigital/gelato-instadapp/blob/7bbbe0d15831ef6653dfcf264ae94d56dc0823c0/contracts/contracts/connectors/ConnectGelatoDataFullMakerToMaker.sol#L81) for example.

You c

[2020-12-17 20:52] fernandomg commented on #274
@gitpusha, So, in your particular case, the ordering rule didn't recognize the `using for` directive.

So when it reached that contract part, it should have thrown an error message like _"Unrecognized contract part, please report this issue"_. That is not happening, I still need to fix it.

On the other hand, I managed to adapt the rule to support the most granular approach:

I'll let you know whe

[2020-12-19 00:14] fernandomg commented on #274
@gitpusha, please feel free to review and validate #275

[2021-01-06 13:56] gitpusha commented on #274
@fernandomg I did a review and it looks correct to me :) When do you think you will merge?

[2021-01-06 13:58] gitpusha opened #276 "solidity >= 0.7.4 - free functions visibility"
Solidity greater than 0.7.4 allows you to have file-level function definitions.

Solidity forces you not to give them a `visibility modifier` because they are always `pure` by default.

`solhint` still complains about visibility modifier specification for such solidity function definition files.

[2021-01-15 02:35] junderw commented on #273
@fvictorio If you get the time, bumping solhint to latest parser would help.

Thanks!

[2021-01-15 12:34] zhengger opened #277 "How can I disable a specific rule while using the recommended settings."
Below is the ".solhint.json" file:
`  {
    "extends": "solhint:recommended",
    "plugins": [],
    "rules": {
      "avoid-suicide": "error",
      "avoid-sha3": "warn",
      "compiler-version": "disable" // I tried to disable this rule in this way but it failed.
    }
  }`
    Because hardhat can handle multiple compiler versions perfectly, how can I disable the "compiler-version" rule include

[2021-01-16 17:21] #277 closed

[2021-01-20 01:27] willKim19 commented on #168
@fvictorio Hi, I'm still running into this issue. I have solhint 3.2.2 installed in my project, but I suspect that maybe the solhint plugin is maybe using the wrong solhint? Have you experienced anything like this?

[2021-02-05 12:11] thegostep opened #278 "Some recommendations for code readability and security"
https://github.com/prettier-solidity/prettier-plugin-solidity/issues/427

[2021-02-13 05:42] krasi-georgiev opened #279 "False positive for structs - Contract name must be in CamelCase contract-name-camelcase"
Not sure why solhint insists that a struct is a contract here
https://github.com/tellor-io/lens/blob/c0160bacfb9cd4ff6a30c569fdd3669719f75fc5/contracts/Lens.sol#L42-L53

Here is the CI failure logs
https://github.com/tellor-io/lens/runs/1892318870

[2021-02-13 05:47] krasi-georgiev commented on #279
grrr, I think the fail is valid, just the error was confusing, once I renamed the structs the error is gone

[2021-02-13 05:47] #279 closed

[2021-02-21 10:16] juanfranblanco opened #280 "Unchecked support"
Hi hope you are well,

In the latest the parser fails with unchecked. Maybe is fixed already :)

![image](https://user-images.githubusercontent.com/562371/108621927-9cec1500-742d-11eb-9d42-2f0a9e9e2c1f.png)

Edit: I have seen that the parser has been updated.

[2021-02-22 12:20] mudgen commented on #280
@fernandomg, is this fixed yet?  Need it.  Thanks.   This is for Solidity 0.8.*

[2021-02-25 15:02] hellwolf opened #281 "virtual modifier is not supported"
Solidity code:

[code]

solhint output:

[code]

[2021-02-26 19:56] mudgen commented on #280
@idrabenia or @fvictorio can you please fix this?

[2021-03-01 10:40] gitpusha commented on #280
@mudgen

I don't think it currently is.

[2021-03-04 18:57] fvictorio commented on #280
I just published `solhint@3.3.3` that ugprades the parser to the latest version. Please let me know if it fixes this for you.

[2021-03-04 18:58] fvictorio commented on #280
Btw @mudgen please don't tag people like that, it's annoying. Ilya hasn't worked on this project for a while, for example.

[2021-03-04 19:11] mudgen commented on #280
Great, thank you!

oh, sorry about this.  I won't.   What should I do in a case like this?

[2021-03-04 19:16] fvictorio commented on #280
Comment without tagging unless you know for sure that the person you are tagging doesn't mind.

[2021-03-04 19:45] mudgen commented on #280
Understood, thank you.

[2021-03-04 21:09] mudgen commented on #280
Hey, the parser has been fixed: https://github.com/protofire/solhint/issues/280#issuecomment-790849802

[2021-03-04 21:09] mudgen commented on #280
Hey, the parser has been fixed: https://github.com/protofire/solhint/issues/280#issuecomment-790849802

[2021-03-05 12:53] fvictorio commented on #280
Thank you. Please re-open if something related to this is not working.

[2021-03-05 12:53] #280 closed

[2021-03-08 22:49] fvictorio commented on #281
Thanks for reporting this @hellwolf.

This depends on https://github.com/solidity-parser/parser/issues/43

[2021-03-08 22:51] fvictorio commented on #273
Fixed in `solhint@3.3.3`

[2021-03-08 22:51] #273 closed

[2021-03-08 22:52] fvictorio commented on #268
Hey @gitpusha, could you expand on this? I'm not sure I understand the problem.

[2021-03-08 22:59] fvictorio commented on #263
I'm guessing the problem is that doing:

[code]

doesn't ignore `Foo.sol` even if it's in `.solhintignore`. Is that correct?

I'm not sure what is the ideal behavior here. `eslint` does this, which seems good enough:

- If you run `eslint .` and there's an ignored file in that directory, it is ignored.
- If you run `eslint foo.js` and `foo.js` is ignored, you get a warning saying that that file is

[2021-03-11 23:45] #274 closed

[2021-03-21 14:44] gitpusha commented on #274
thx for the merge @fernandomg 👍

[2021-03-31 07:46] PaulRBerg opened #282 "the "true" keyword is not accepted when used in assembly"
Take the following code snippet:

[code]

I am getting the following error in VSCode, although the code compiles just fine when I run `hardhat compile`.

In the meantime I fixed this by replacing `true` with `1`, so it's not a biggy, but I thought to report this anyways.

[2021-03-31 20:32] joaoh9 commented on #230
just add the compiler version to .solhint.json

[code]

[2021-04-01 16:08] gitpusha commented on #263
For me when I run `yarn solhint path/to/ignored/contract` it ignores it as expected.

Same if I use a glob.

However, when I run `solhint` against `*.sol` in `lint-staged` it somehow stops ignoring ignored files.

[2021-04-01 16:11] gitpusha commented on #268
If for example you have a contract with a constant state variable like so

[code]

If you want to write an interface for this contract you would then write

[code]

and this would clash with that mixedCase rule

But don't worry about it

I am closing this issue cuz actually I prefer disabling the linter explicitly here anyhow

[2021-04-01 16:11] #268 closed

[2021-04-05 12:15] fvictorio commented on #230
@joaoh9 this is about solhint not using the default value for that parameter, it's not a question.

[2021-05-06 18:00] skiv71 opened #286 "SPDX rule"
Hi, pretty sure I asked about this before, but I use a build system where flatten file inserts the required SPDX.

So, none of my actual source files contain the declaration.

Can we get (or where is it) a rule to ignore?

Thanks,

Neil

[2021-05-15 07:29] GAUTAMRAJU15 commented on #230
doesn't work. I am using >=0.7.0 <0.9.0;

[2021-05-15 10:28] maticzav commented on #277
@zhengger how did you solve this?

[2021-05-17 09:25] vadiminc commented on #223
any updates? when it will be fixed?

[2021-05-17 13:56] fvictorio commented on #230
@GAUTAMRAJU15 what do you mean by "doesn't work"? Anyway, this issue is for a different scenario, if something doesn't work for you and you have reproduction steps, please open a different issue.

[2021-05-17 13:57] fvictorio commented on #223
What do you mean? This is an internal problem and users shouldn't care too much about it.

[2021-05-18 20:35] paulrberg opened #289 "Support v0.8.4 custom errors"
See the announcement [article](https://blog.soliditylang.org/2021/04/21/custom-errors/) for the new custom error syntax.

For the following code:

[code]

I get this error in VSCode:

[2021-05-21 18:30] fvictorio commented on #289
Hey Paul, I just published `solhint@3.3.5` which uses the latest version of the solidity parser and shouldn't throw this error. Please let me know if it works for you.

[2021-05-22 07:38] paulrberg commented on #289
Nice, thanks Franco! Unfortunately it still doesn't work well in all cases. Take the following code:

[code]
Linter: Parse error: mismatched input '(' expecting {';', '='} [undefined]
[code]

[2021-05-24 14:39] fvictorio commented on #289
@paulrberg are you sure? I just tested that snippet with the latest published solhint version and I didn't get a parser error.

[2021-05-24 19:45] paulrberg commented on #289
Yup, I just re-tested now, and I double-checked the version of `solhint` that I have installed, and it's 3.3.5. Furthermore, I installed the `@solidity-parser/parser` dependency manually, in case the versions that are depended on by other dependencies interfered somehow. That didn't work either.

Steps to reproduce

1. git clone git@github.com:paulrberg/solidity-template.git
2. yarn add solhint@^3

[2021-05-26 13:56] fvictorio opened #290 "`compiler-version` should ignore `pragma experimental` statements"
File:

[code]

Config:

[code]

This throws an error in the second pragma, which is obviously wrong. The fix is probably to check here:

https://github.com/protofire/solhint/blob/15a964c9466276f297d9b1e9d1a88f0b3eae7be5/lib/rules/security/compiler-version.js#L50

that `node.name === "version"`

[2021-05-26 14:07] fvictorio commented on #289
Ugh, I have no idea what's going on here, but removing `yarn.lock` and re-installing fixes it. Do you know what could be the reason?

[2021-05-26 17:15] paulrberg commented on #289
Haha there is something funky going on here! I deleted `yarn.lock` and re-installed the dependencies, but I am still getting the same error in VSCode.

I am using yarn@2.4.1, and you should be using the same, due to the `.yarnrc.yml` file which forces the use of yarn berry. But maybe you're using an older version of the global yarn CLI which doesn't recognise the berry config files? Could you run

[2021-05-26 18:54] fvictorio commented on #289
I'm pretty sure I'm using yarn v1.

Maybe the problem is that I used an RC version of the parser as the dependency, because I'm an idiot (I immediately published the non-RC version of the parser, which is exactly the same). I'm going to add a fix and release a new version of solhint soon, so I'll use that as an opportunity to also change the parser version. I'll let you know so you can try again w

[2021-05-26 19:59] paulrberg commented on #289
Yarn v1 activates v2 whenever it finds a `.yarnrc.yaml` file and a `.yarn` folder.

Haha ok.

[2021-05-26 23:40] #290 closed

[2021-05-29 14:36] fvictorio commented on #289
@paulrberg can you try the latest published version? It doesn't have an RC as a dependency anymore. Maybe that was the issue.

[2021-05-29 21:09] paulrberg commented on #289
Just tried now, unfortunately it still didn't work. I created a node.js project from scratch and I installed only `solhint` in it, in order to exclude any potential issues re dependency injections. Maybe this is caused by vscode-solidity? This is my user configuration:

[code]

The version of the extension that I'm using is 0.0.114.

[2021-05-29 22:05] fvictorio commented on #289
Oh yes, it's entirely possible that the vscode extension is the problem. Can you try it directly in the terminal?

[2021-05-30 10:47] paulrberg commented on #289
Oh, but I knew that in the command-line the linting works. Sorry, I should have made that clear. In the terminal it works since v3.3.5.

I opened an issue in the vscode-solidity repo, the issue must be there.

[2021-05-30 10:47] #289 closed

[2021-05-30 15:32] fvictorio commented on #289
Ohh, sorry, I totally missed the "VSCode" part in the original issue :sweat_smile: Thanks for letting me know!

[2021-06-16 06:28] MasterTraderMel commented on #230
Noob question, how can I add compiler version to .solhint.json. Where can I find the .solhint.json?

[2021-06-22 18:03] StErMi opened #295 "[check-send-result] not correctly checking instruction after `send`"
I've setup solhint and I get some error that I don't know how I should fix (usually with normal lint they also provide examples of good and bad behaviour)
for example:

[code]

it says Linter: `Check result of "send" call [check-send-result]`

but as you can see I'm already testing it. How should that code be done? I think that (I'm not an expert to create the rules but I'm used to eslint and tsli

[2021-06-25 07:33] changxinjie opened #296 "stdin with formatter is not work as expect."
[code]

output:

![image](https://user-images.githubusercontent.com/9565184/123387643-95e73600-d5ca-11eb-82ed-99f20e235766.png)

expect output json.

[2021-06-28 18:09] rokso opened #297 "unused state variable are not detected by no-unused-vars"
This may or may not be intended behavior. In case it is intended behavior then how to detect unused state variables?

[2021-07-11 02:02] fulldecent opened #298 "Rule request: full NatSpec documentation"
Requesting a new rule and to enable it by default.

`natspec-documentation`

The following would trigger an error:

- A `public` or `external` function which does not have a NatSpec comment
  - NatSpec comment does not have a `@notice` set
  - NatSpec comment does not have a `@param` for every parameter
  - NatSpec comment does not have a `@return` for every return
- A `public` storage variable wh

[2021-07-29 17:20] sachinraja commented on #277
[code]

[2021-07-30 21:40] fulldecent opened #300 "Rule request: disallow underbar prefix for function parameter names"
Underbar prefix in variables names has a reserved meaning: private variables.

This is important because switching private to non-private is a big deal and that will require you to touch every part of code that references.

Therefore using underbar prefix in other contexts dilutes this important meaning and I recommend we disallow it.

[2021-07-30 22:05] fulldecent opened #301 "blacklist -> blocklist"
Deprecated word usage

https://fulldecent.blogspot.com/2021/07/whitelist-and-blacklist.html

[2021-08-10 10:08] paulrberg opened #302 "ConfigMissingError: Failed to load config "../../.solhint.json" to extend from."
## Description

The extend functionality can only extend other packages, not other local solhint configurations. This is not nice when using solhint in a monorepo.

## Reproduction

1. Fork https://github.com/hifi-finance/hifi
2. Install dependencies with yarn
3. Create a `.solhint.json` configuration file in any of the packages with the following code:

[code]
4. Modify the `lint:sol` script in t

[2021-08-13 11:02] aster2709 opened #305 "solhint contracts/**/*.sol doesn't lint"
![image](https://user-images.githubusercontent.com/39130640/129347655-e3b6c859-4ea0-4400-a9aa-5fe8c2ed3468.png)

[2021-08-13 11:12] aster2709 opened #306 "can solhint be used in a pre-commit hook with lint-staged and husky"
solhint file_name lints the file, but when I try to add it in lint-staged, it doesn't do anything for some reason, shouldn't it throw all the linting warnings?

[2021-08-13 12:25] aster2709 commented on #306
example:
![image](https://user-images.githubusercontent.com/39130640/129356713-7a56bd35-f7ce-4942-b90e-85797ab33808.png)

[2021-08-13 12:46] #305 closed

[2021-08-13 12:47] aster2709 commented on #305
forgot quotes lol, it should be npx solhint "contracts/**/*.sol", anyway bye

[2021-08-25 23:58] ronanyeah opened #307 "avoid-low-level-calls - false positive?"
Is there a way to avoid a warning for this specific case? I believe it is currently the recommended way to transfer funds.
`(bool succeed, ) = _address.call{value: _amount}("");`

[2021-08-30 08:38] paulrberg opened #308 "Disable "no-empty-blocks" for fallback receive function"
In many cases we just want to define the [fallback receive function](https://ethereum.stackexchange.com/questions/20874/payable-function-in-solidity/78374#78374) and leave it as is:

[code]

[2021-09-08 01:36] rootulp opened #309 "Upgrade antlr to 4.9"
Currently, consumers of solhint will observe warnings like the following when running `yarn install`:
[code]
This is caused by https://github.com/antlr/antlr4/issues/2834 and resolved by https://github.com/antlr/antlr4/pull/2931 which was released in [antlr 4.9](https://github.com/antlr/antlr4/releases/tag/4.9). Therefore it would be awesome if solhint upgraded to this release.

[2021-09-10 19:41] adjisb commented on #14
Hi, I have the same issue on debian.
In the logs:
2021-09-10 16:31:29,569 [   6117]   WARN - a.solhint.client.SolhintClient - Can not connect to Solhint validation server

node version: v14.17.6
I'm using nvm and solhint is installed in:  ~/.nvm/versions/node/v14.17.6/bin/solhint
When I point the javascript file to ~/.nvm/versions/node/v14.17.6/lib/node_modules/solhint/solhint.js it works for a se

[2021-09-10 19:43] adjisb commented on #14
Hi, I have the same issue on debian.
In the logs:
2021-09-10 16:31:29,569 [ 6117] WARN - a.solhint.client.SolhintClient - Can not connect to Solhint validation server

node version: v14.17.6
I'm using nvm and solhint is installed in: ~/.nvm/versions/node/v14.17.6/bin/solhint
When I point the javascript file to ~/.nvm/versions/node/v14.17.6/lib/node_modules/solhint/solhint.js it works for a second

[2021-09-14 20:51] grapevinegizmos opened #310 "Solhint tags free functions for visibility?"
Can't get rid of linter message on free function:

If i put
`function roleValue(Role role) pure returns(bytes32) {...}`

before the contract body, I get an linter warning `Explicity mark visibility in function [func-visiblity] [7,1]` which of course is unavoidable since you can't mark visibility on a free function.

[2021-09-15 12:16] omarandres2803 opened #311 "Json format for the output"
Hey I just wanted to point out that in the documentation of your tool you don't mention the json output format (which is the most useful one). I though it was not supported, as you just mention (stylish, table, tap, unix), but I tried passing 'json' as a format and it actually works.

Maybe it should be added to the documentation or to the repo README file ?

[2021-09-19 12:04] QEDK opened #312 "Running solhint gives an error"
When I run `solhint` directly, I get this error:
[code]
When I use it like a npm command, I get:
[code]
The code triggering this error as of right now: https://github.com/QEDK/opensignal/commit/eeef402b75f7663f6eae9bb8bce56cd586624966

OS: MacOS 11.5.2
Node version: v16.8.0
npm version: v7.21.0
Solhint version: v3.3.6

[2021-09-24 09:52] outdoteth opened #313 "state-visibility rule gives incorrect output when using `fallback()`"
To reproduce:

Test.sol
[code]

.solhint.json
[code]

output:

[code]

Expected no warnings because visibility is given by `external` keyword. It might be that the issue is the parser can't handle the `fallback()` function because it doesn't have the `function` keyword prefix (just a guess).

[2021-09-25 13:31] aspiers commented on #230
I am using the solhint plugin to remix, and I see this same error:

    contracts/test.sol:1:1: Error: Compiler version ^0.8.4 does not satisfy the r semver requirement

when `test.sol` starts with this:

    pragma solidity ^0.8.4;

Is this the same bug (i.e. with the default value in solhint), or a bug with https://github.com/protofire/remix-solhint-plugin, or am I doing something wrong?

[2021-10-19 11:06] SAPFuzzSol opened #314 "'func-visibility' should not apply to constructors."
When I use solhint, there are dozens of 'func-visibility' warnings. However, take a closer look at those warned contracts, most of which are caused by constructors without visibility modifier. Constructors should be public, which is the default visibility modifier.  Would you consider do not apply 'func-visibility' to constructors？

[2021-10-21 13:57] #314 closed

[2021-11-02 13:08] CodeSandwich opened #315 "Unavoidable no-empty-blocks in yul for loop"
Yul doesn't have `while` loops, only `for`, which to emulate `while` needs to contain empty blocks:
[code]
These empty blocks trigger `no-empty-blocks` warning, which doesn't seem reasonable in this case, because there's no sane alternative to express that logic.

[2021-11-02 13:19] CodeSandwich opened #316 "Drop requirement of double quotes in string literals"
Solidity allows double or single quotes in string literals. It's useful in cases where the string itself contains quotes, it removes the need for escaping them. Banning one flavor upfront doesn't seem reasonable, it fights usage of a genuine readability improvement tool. Single quotes aren't confusing for the readers and AFAIK don't pose any threat of introducing bugs.

If avoiding single quotes i

[2021-11-09 11:31] Siegrift opened #317 "TypeError: Cannot read properties of undefined (reading 'length')"
Hi, solhint formatter just crashed on my one of my contracts. See the minimal example below to reproduce:

[code]

Solhint config:
[code]

solhint version: `"solhint": "^3.2.0"`

This is actually an parser issue, so this might not be the best place for this issue. Full trace:
![image](https://user-images.githubusercontent.com/22679154/140922042-4d490933-3e01-44ce-8ca7-2b71629761d7.png)

[2021-11-09 11:38] Siegrift commented on #317
Also breaks with solhint version `3.3.6`

[2021-11-26 00:17] aspiers commented on #239
I see this too and escaping the glob pattern doesn't help (actually I'm not sure why it would?)

I think this needs to be reopened.

[2021-11-26 00:47] aspiers commented on #239
I found the problem - my `.solhintignore` file was causing all the input files to be ignored, in which case, `reports` ends up being `[]`, therefore `reports[0]` is obviously `undefined`.  So the bug is in the line 97 above incorrectly assuming that `reports` will always be non-empty.  Yet another case of [the billion dollar mistake](https://hinchman-amanda.medium.com/null-pointer-references-the-b

[2021-11-26 18:57] fqlx opened #318 "Rule for linting console.log()?"
Is there a rule for banning `hardhat/console.sol` and usage of `console.log`?  I often see developers forgetting to remove these debugging statements when checking in soldity code.

[2021-11-27 15:15] aster2709 opened #319 "unkown option --init"
hi. installing solhint globally and running `--init` creates a config file
but installing it as a local dependency and running `npx solhint --init` says unknown options

![image](https://user-images.githubusercontent.com/39130640/143686952-fdba49a9-78f0-4a36-8f38-b6eafb3524f5.png)

[2021-11-27 15:34] aster2709 opened #320 "`ignoreConstructors` not working in rule: `func-visibility`"
hey setting `ignoreConstructors` to `true` still gives the warning
![image](https://user-images.githubusercontent.com/39130640/143687537-2ce90a69-f29d-4f33-99cc-ea8a97459568.png)

[2021-12-02 07:48] lukehutch opened #321 "Parse error for `unchecked` blocks"
Using the SolHint plugin for Remix, I get `Error: Parse error: missing ';' at '{'` with the following code, at the line marked `// (*)`:

[code]

I assume this means SolHint does not yet support the syntax of Solidity 0.8.0+?

[2021-12-17 16:11] jwhitty1 commented on #230
I also have this bug that aspiers has but im not using any plugins... following FCC solidity full course and the video just chugs along but i copy line for line, button click for button click, and i get this error...

[2021-12-24 14:03] hendrikvanderplas commented on #230
I have the same error on some imported (chainlink) interfaces. Solhint [documentation](https://protofire.github.io/solhint/docs/rules/security/compiler-version.html) requires version ^0.5.8.

Seems to me that as long as you use a pragma version higher than the minimum required it should be no issue. But yet when imported interfaces of the correct pragma version are used the error is thrown. If I a

[2021-12-27 15:20] pmuens commented on #312
Hey @QEDK I was running into the same issue today.

Not sure if it's still a problem on your end but what fixed the issue for me is adding the `artifacts` directory to my `.solhintignore` (I'm using Hardhat). Exploring the directory structure of `artifacts` shows that there's a directory called `contracts/<contract-name>.sol` which confuses Solhint (as it's a directory, not a file).

For completen

[2021-12-31 07:58] peterblockman commented on #168
@0xGrapefruit did you solve it? I am having the same issue in the latest version of solhint.

[2022-01-03 14:46] 0xGrapefruit commented on #168
@peterblockman no I think I gave up

[2022-01-03 14:52] fvictorio commented on #168
@peterblockman are you using the `hardhat-solhint` plugin?

[2022-01-18 20:17] d10r opened #325 "check-send-result: false positives for ERC777 send() calls"
The rule incorrectly triggers for invocations of [ERC777.send(address, uint256, bytes)](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC777/ERC777.sol#L130).

Looking at the code for the rule, I guess this could be prevented by additionally checking the number (and/or type) of arguments in [validateSend](https://github.com/protofire/solhint/blob/991b8755ef2bab

[2022-01-21 18:04] kFuQ commented on #230
add this right above your pragma line

// solhint-disable-next-line
pragma solidity ^0.8.0;

[2022-01-28 12:01] patrickd- commented on #281
Ran into same issue in a Linting CI pipeline: https://github.com/patrickd-/cheatsheet.sol/runs/4956891444?check_suite_focus=true

Affected line: https://github.com/patrickd-/cheatsheet.sol/blob/6597c1d315a4bd3e940024e0d45ee12e0bf6e2a5/contracts/cheatsheet.sol#L57

---

Forked solhint and bumped @solidity-parser/parser to 0.14.0

Here: https://github.com/patrickd-/solhint/tree/patch-1

---

Changed

[2022-01-29 12:05] jpapini opened #327 "Allowing scoped package name for shareable configs"
According to the [doc](https://protofire.github.io/solhint/docs/shareable-configs.html), shareable configs can only be named with the `solhint-config-` prefix.
These lines confirms this rule:
https://github.com/protofire/solhint/blob/3443eee94de7dbda7ad3abd5d3540c3a96e95a0f/lib/config/config-file.js#L68-L81

But I think we should allow users to name their packages with a scope like ESLint ([doc](h

[2022-01-31 03:05] pmdaly opened #328 "The specified node does not exist"
Solhint does not seem to be working correctly when I lint from the command line.  Installed via brew and linted with `solhint test.sol`.

Solhint version 3.3.6
OSX Monterey
Apple M1 Pro

[code]

[2022-02-03 19:56] brianunlam commented on #328
I had the same error, check if your file is ok, you don't have unmatching brackets or something weird. Run the command this way:

[code]

I hope it solves your problem

[2022-02-08 15:35] k06a commented on #328
We have similar but different issues, there both should be resolved after upgrading dependency `@solidity-parser/parser`.

[2022-02-08 15:38] k06a commented on #328
@fvictorio when do you think we could do this?

[2022-02-10 12:43] fvictorio commented on #328
It seems like I don't have write permission for this repo anymore.

@cmalfesi could you change that?

[2022-02-10 12:45] fvictorio commented on #328
Well, I'm still an owner of the package in `npm`, so I just published this fix. Upgrade to `solhint@3.3.7` to use the version that has the updated parser.

[2022-02-15 23:15] frangio opened #333 "Version 3.3.7 on npm is not in repository"
The latest version of the npm package is 3.3.7 but I can't find that release in this repository.

[2022-02-18 20:21] fvictorio commented on #333
Yes, see [this comment](https://github.com/protofire/solhint/issues/328#issuecomment-1034880584). I don't have write access to this repo anymore for some reason, but I still can publish in npm. Since some people were asking me to update the version of the parser, I did it and published the changes, but couldn't update the code in this repo.

[2022-02-18 21:03] frangio commented on #333
Got it. It made me a little paranoid to find this. :innocent: It would be good if you could share a link to the commit that was published. Thanks!

[2022-02-21 12:30] fvictorio commented on #333
Oh, sure, [this](https://github.com/fvictorio/solhint/commits/upgrade-parser) is the branch in my fork.

[2022-02-22 12:22] SlavikDMI opened #334 "extraneous input in immutable variable"
`uint public immutable chainId;`

solhing show error extraneous input 'chainId' expecting {';', '='}
if I delete immutable keyword, it will be ok..

[2022-02-23 17:53] #334 closed

[2022-03-06 11:17] Dentrax opened #337 "Consider clarify "message for require is too long" warning by adding character count"
It would be nice to see max allowed count in the warning message for `reason-string` module. In current implementation, it's difficult to distinguish how long error messages should be:

[code]

What I expect is something like:

[code]

I had to deep dive into code to check default max characters count as we defined it here: https://github.com/protofire/solhint/blob/991b8755ef2babcc2c97c278b039c86a

[2022-04-12 16:00] rokso commented on #263
If you are looking for a fix read on.

**Initial setup:**
- My package.json command is ``` "solhint": "solhint './contracts/**/*.sol'"```
- Content of `.solhintignore` is ```./contracts/dependencies/**/*.sol```

**Run:**
- `npm run solhint`: End command looks like this ```solhint './contracts/**/*.sol'``` and it will ignore files given in ignore pattern.
- `Run with lintstaged`: Command that run l

[2022-04-21 10:37] kaspergff opened #339 "Ignore "free functions" when checking for visibility."
When creating a free function (a  function outside of a contract) I get the following error: Linter: **Explicitly mark visibility in function [func-visibility**

But as explained [here](https://blog.soliditylang.org/2020/09/02/solidity-0.7.1-release-announcement/#:%7E:text=A%20free%20function%20behaves%20like,and%20in%20this%20case%2C%20msg.)

. Therefore they don't need a visibility keyword.

[2022-04-26 13:43] 0xGorilla opened #340 "Enforce function return values to be named"
I would like to be able to enforce functions to have they return values named.

Passes:
`function something() external view returns (bool _isValid) {}`

Warns:
`function something() external view returns (bool) {}`

I can create a custom rule if necessary, but, is there any way to identify a node as being a return value? Didn't manage to find one

[2022-04-29 22:38] emretepedev opened #341 "Solhint not being picked up in CLI but in vscode it is."
I have changed the compiler requirement but in the CLI it does not found the issue BUT the vscode is correctly highlighting the problem.

`
yarn run solhint contracts/FooToken.sol
`
output
[code]

But vscode shows "Linter: Compiler version ^0.7.4 does not satisfy the ^0.8.4 semver requirement [compiler-version]" correctly.

.solhint.json
[code]
package.json
[code]
contracts/FooToken.sol
[code]

[2022-05-04 17:56] ecp4224 opened #342 "address property of function types is not supported"
When using properties of a function type variable, the `address` property isn't recognized

Example
[code]

Error
[code]
solc can compile this sample fine with no errors.

Tested on 3.3.7

This may be related to this [open issue](https://github.com/solidity-parser/antlr/issues/12) in solidity-parser/antlr

[2022-05-05 23:22] jdmedeiros commented on #230
This is a bug; I wish I knew enough to fix it. This:
`pragma solidity ^0.8.7;`
yields
`simple_storage.sol:2:1: Error: Compiler version ^0.8.7 does not satisfy the r semver requirement`
but this:
`pragma solidity ^0.8.7.0;`
will not throw an error.

[2022-05-27 23:25] markobonna commented on #230
this worked for me, adding a .0 to the end of whatever solidity version i am using

[2022-05-28 00:12] DarbyMcB commented on #230
This makes me think that it just ignores leading zeroes for major version number (skipping to 8) and then complains that there's not a third number for patch. Luckily it seems harmless.

[2022-05-30 11:16] benesjan commented on #243
I don't know what is the state of this issue now but having support for this would be great 👍

[2022-05-30 12:37] Ding-Fan commented on #316
JS has backtick but solidity don't. I have to escape every double quote or  `// solhint-disable-line` everywhere.

[2022-06-04 19:53] ilanolkies opened #344 "payable(a) results in indent error"
[code]

This would result in

[code]

[2022-06-04 19:54] ilanolkies commented on #344
Now setting

[code]

results in

[code]

[2022-06-08 11:21] CodeSandwich commented on #328
Thanks for the `3.3.7` release! It solves some issues but solhint still breaks on `using ... for ... global;`. This can be fixed by upgrading @solidity-parser/parser from `0.14.1` to `0.14.2-beta.1`.

Unless `3.3.8` is released it can be worked around by enforcing `solhint` to use the newer version, they cooperate flawlessly. For yarn it can be done by enforcing resolution in `package.json`:
[code

[2022-06-09 16:17] muturgan opened #345 "Suggestion - shadows"
It could be great to show that a function parameter declaration shadows an existing state declaration

[2022-06-11 09:14] ddnexus opened #346 "Gitignore syntax not fully supported"
The pattern to ignore a dir excluding specific files in `.gitignore` does not seem to work:

[code]

[2022-06-22 09:42] emretepedev commented on #242
same issue here.

[2022-06-23 20:09] PedroReyes opened #348 "SolHint - Updating grammar for accepting underscores in Integers"
Hello,

❌ Error
For the next code:

[code]

when running `npx hardhat check` I get the next result:

[code]

ℹ Expected
This way of typing numbers (`100_000_000e18`) in solidity is quite useful and accepted. What about updating SolHint in this regard for not identifying this symbol as `extraneous input`?

Source: [Rational and Integer Literals](https://docs.soliditylang.org/en/latest/types.html?hi

[2022-06-25 04:00] Janther commented on #242
Ethlint did address this issue duaraghav8/Ethlint/issues/264

[2022-06-29 06:47] sebastiantf commented on #239
I'm facing the same issue. Any way to reopen this issue, or should I open a new one?

[2022-07-08 05:05] johnnyshankman commented on #242
Same here as well.

[2022-07-08 10:11] paulrberg commented on #339
Can confirmed that this is still occurring on the latest version (v3.3.7).

It's a shame because I would like not to disable the `func-visibility` rule.

[2022-07-16 07:28] GopherJ commented on #5
I'm finding actually a perfect vim support for solhint and come across this. Feel it brings lots of value to be `eslint-like` so that solhint can benefit from eslint's ecosystem.

I use coc-eslint and did some search this morning to see if it's possible for `coc-eslint` to support solhint

[2022-07-17 08:57] PaulRBerg opened #349 "Add a rule for recommending custom errors instead of revert reason strings"
I'm thinking of something similar to [no-inline-assembly](https://github.com/protofire/solhint/blob/3443eee94de7dbda7ad3abd5d3540c3a96e95a0f/docs/rules/security/no-inline-assembly.md), but for custom errors versus revert reason strings. Maybe "no-revert-reason-strings"?

[Custom errors](https://blog.soliditylang.org/2021/04/21/custom-errors/) are more elegant and much more gas efficient than rever

[2022-07-17 09:04] PaulRBerg opened #350 "Remove "not-rely-on-time" from the recommended ruleset"
As discussed [here](https://ethereum.stackexchange.com/questions/6795/is-block-timestamp-safe-for-longer-time-periods) and [here](https://ethereum.stackexchange.com/questions/5924/how-do-ethereum-mining-nodes-maintain-a-time-consistent-with-the-network), and shown in practice by many dapps like [Sablier](https://sablier.finance/) which do rely on time, `block.timestamp` is safe to use.

[2022-07-17 09:07] paulrberg commented on #302
With the advent of [Foundry](https://getfoundry.sh/), making solhint configuration files composable has become more pressing of an issue. Many users may want to apply different code linting rules between their production Solidity code and their Solidity tests.

[2022-07-26 14:41] StoyanD commented on #318
yea, i would love it if it was added

[2022-08-31 17:56] maxholloway opened #353 "Suggestion - fix grammar for time-based decisions"
Hi! Tiny nit-pick here, nbd if it doesn't get fixed.

When including timestamps in contracts, you get the following warning.
[code]

Would we fix the grammar to say the following?
[code]

Again, not a big deal, but it should be a super straightforward change in these files:
* [docs/rules/security/not-rely-on-time.md](https://github.com/protofire/solhint/blob/991b8755ef2babcc2c97c278b039c86abeef4b8

[2022-08-31 18:07] maxholloway commented on #243
Plus one, would love to see this!

[2022-09-04 08:07] developerasun opened #354 "Expected indentation of N spaces but found M"
**Problem**
I'm using Turborepo and Github Actions for test automation in CI. And Hardhat-solhint throws indentation error, which automatically _disappears_ when the action re-runs.

[code]

This is my dependency, using @nomiclabs/hardhat-solhint ^2.0.1

[code]

and I configurate .solhint.json like below

[code]

Also, I noticed that ignoreConstructors option does not work for constructor. For exa

[2022-09-12 12:11] MCarlomagno commented on #353
I just created a PR for this one

[2022-10-03 13:42] SidharthK2 opened #356 "solhint: command not found"
solhint --init throws an error ``` solhint: command not found``` when installed with yarn package manager version 1.22.19

Here is my package.json
[code]

[2022-10-20 03:48] alakhkaushik opened #357 "Do we need to update the read me file?"
![image](https://user-images.githubusercontent.com/20486289/196851447-c148dc3c-4d45-4ca9-9e21-1ee4fbb4fe6a.png)

When I try --init command to configure the generated .solhint.json file has different default config like below but not what readme file mentions... I wondered is there anything wrong with my installation / dependencies or it's just outdated readme file?

`
{
  "extends": "solhint:defau

[2022-10-20 10:34] yosriady opened #358 "How to Import org-scoped plugins from NPM? @org/solhint-plugin-foo"
According to the docs, custom plugins need to follow the `solhint-plugin-*` naming convention.

I'm trying to publish a Solhint plugin under our `@org/package-name` in NPM and Solhint is unable to detect the plugin because the prefix has the org name.

How do I import org-scoped plugins to Solhint?

[2022-10-20 10:40] yosriady commented on #358
The package is https://www.npmjs.com/package/@chainlink/solhint-plugin-chainlink-solidity

[2022-10-20 11:10] yosriady commented on #358
The following works:

[code]

[2022-10-20 11:10] #358 closed

[2022-10-24 07:37] paulrberg commented on #260
This would be super useful, especially when importing specific symbols like this:

[code]

[2022-10-26 00:11] d1onys1us commented on #298
+1 for this

[2022-10-28 17:01] amusingaxl opened #359 "Feature Request: enable overrides in `.solhint.json`"
Most linters out there support overrides for specific file patterns.

For instance, [`eslint`](https://eslint.org/docs/latest/user-guide/configuring/configuration-files#how-do-overrides-work) has supported this for a long time.

One use case that I currently have is that I want slightly different ruleset for Solidity test files.

It would be awesome if we could have something like:

[code]

With t

[2022-10-30 16:48] paulrberg commented on #328
I just bumped into the same problem.

@fvictorio we might need another quick version bump for `solhint` to upgrade to the latest `@solidity-parser/parser`.

[2022-10-31 09:40] oneleo opened #360 "Enforce Function Calls with Named Parameters"
Is it possible to be able to enforce [Function Calls with Named Parameters](https://docs.soliditylang.org/en/latest/control-structures.html#function-calls-with-named-parameters) when function containing six or more arguments?

Passes:
[code]

Warns or Error:
[code]

Thank you very much!

[2022-11-01 23:14] smartcontracts commented on #243
+1 on this, would be great, Optimism prefers `SCREAMING_SNAKE_CASE` for immutables

[2022-11-04 21:16] rya0x opened #361 "how to remove "SPDX license identifier not provided in source file." warning?"
using solhint, but i dont see how i can remove that warning

[2022-11-05 19:03] hktitof commented on #243
+1 here too guyes

[2022-11-07 20:16] gagiuntoli opened #362 "Strange behaviour in ordering"
I have the following case:
[code]

With this configuration:

[code]

I would expect solhint to throw an error on the ordering. The external function is after the public ones. But actually, it doesn't throw anything (`solhint --config ./.solhint.json file.sol`).

Then, if I change in the order (also wrong):

[code]

it fails with the expected error:

[code]

[2022-11-11 07:02] leonardishere opened #364 "Error: Fallback functions cannot have parameters"
These are both legal declarations of the fallback function. Hardhat/ethers successfully compiles and executes both
[code]

Using the first solhint has no issues. Using the second I get

[code]

I see some issues and PRs about changing the parser that might solve this issue. Using solidity 0.8.x and solhint 3.3.7 if that makes a difference

[2022-11-28 03:21] RobItu commented on #356
Ran into the same issue, installed with npm and it worked
`npm install -g solhint

# verify that it was installed correctly
solhint --version`

[2022-11-28 03:22] RobItu commented on #356
Ran into the same issue. Installed again with npm and it worked.
[code]

[2022-11-28 23:22] belene opened #365 "Use of mutation testing in solhint - Help needed"
Hello there!

My name is Ana. I noted that you use the mutation testing tool  in the project.
I am a postdoctoral researcher at the University of Seville (Spain), and my colleagues and I are studying how mutation testing tools are used in practice. With this aim in mind, we have analysed over 3,500 public GitHub repositories using mutation testing tools, including yours! This work has recently bee

[2022-11-30 14:20] dbale-altoros commented on #297
@rokso can you post an example ?

[2022-11-30 14:33] rokso commented on #297
@dbale-altoros Does this count? No warning when I run solhint check.

[code]

[2022-11-30 14:41] dbale-altoros commented on #297
and when you run solhint with the unused var rule active , it doesn't complain ?
is it ignoring that file ? sorry the dumb question I just want to make sure

[2022-11-30 14:44] rokso commented on #297
I think rule is active by default. I have manually added it `"no-unused-vars": "error",` and no error. It is not ignoring file.

[2022-11-30 14:47] rokso commented on #297
Here is my solhint.json file
[code]

[2022-11-30 14:51] dbale-altoros commented on #297
ok, thanks for the feedback... we will be supporting an update of this project soon

[2022-11-30 14:54] rokso commented on #297
@dbale-altoros thanks a ton.

[2022-11-30 15:12] dbale-altoros commented on #276
this is the same as this one right ?
[#310](https://github.com/protofire/solhint/issues/310)

[2022-11-30 15:17] dbale-altoros commented on #312
Do you remember if that was the issue and it is solved @QEDK ?

[2022-11-30 15:49] sebastianst commented on #242
@fvictorio any progress here?